body {
	@include transition-property(transform);

	@include transition-duration(0.8s);

	@include transition-timing-function(ease);
}

.remark-slide {
	display: table;
	position: absolute;
	top: 0;

	@include transform-style(preserve-3d);

	@include transition-property(-webkit-transform-origin, transform, visibility, opacity);

	@include transition-duration(800ms, 800ms, 800ms, 800ms);

	@include transition-timing-function(cubic-bezier(0.26, 0.86, 0.44, 0.985), cubic-bezier(0.26, 0.86, 0.44, 0.985), cubic-bezier(0.26, 0.86, 0.44, 0.985), cubic-bezier(0.26, 0.86, 0.44, 0.985));
}

.past, .future {
	opacity: 0;
}

.present {
	opacity: 1;
}

.past {
	@include transform(translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0));
}

.future {
	@include transform(translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0));
}

.remark-slideshow {
	@include perspective(600px);

	@include perspective-origin(0 -10px);

	@include transition(perspective 0.4s ease);
}
