/* line 2, day23.css.scss */
.wilson1 img {
  max-width: 485px;
  margin-top: 4rem; }

/* line 9, day23.css.scss */
.wilson3 img {
  max-width: 510px;
  margin-top: 4rem; }

/* line 16, day23.css.scss */
.wilson4 strong, .wilson4 b {
  color: black; }
