/*	Display a line whose width indicates remaining slides
	instead of the usual X/Y count. */
	
@import bourbon/bourbon

#remark-progress
	height: 4px
	width: 0
	z-index: 1000
	bottom: 0
	left: 0
	position: absolute
	@include transition (width 0.5s ease-in)

.remark-position
	display: none