/*	Display a line whose width indicates remaining slides
	instead of the usual X/Y count. */
	
@import bourbon

#remark-progress
	height: 4px
	min-width: 0
	z-index: 1000
	bottom: 0
	left: 0
	position: absolute
#remark-progress-content
	@include transition(width 0.5s ease-in)
	height: 100%
	min-width: 0

.remark-position, .remark-slide-number
	//display: none

.twitter_name
	left: inherit
	right: 20px