/* line 5, day10.css.scss */
.daisy_miller_title {
  margin-top: 4.2358em;
  font-size: 1.5em; }

/* line 14, day10.css.scss */
.small {
  font-size: 0.95em; }
  /* line 19, day10.css.scss */
  .small .topic {
    font-size: 1.57895em; }
