.hough img {
  width: 100%; }

.asu img {
  width: 120%; }

.small p {
  font-size: 0.95em;
  margin-top: 1em; }

.smallish p {
  font-size: 0.9em;
  margin-top: 1em; }

.smaller p {
  font-size: 0.8em;
  margin-top: 1em; }

.redness {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 2em; }

.map img {
  width: 75%; }
