/* line 1, day23.css.scss */
.small {
  font-size: 0.95em; }
  /* line 6, day23.css.scss */
  .small p {
    margin-top: 1em; }
  /* line 10, day23.css.scss */
  .small .topic {
    font-size: 1.875em; }

/* line 15, day23.css.scss */
.smaller {
  font-size: 0.85em; }
  /* line 20, day23.css.scss */
  .smaller p {
    margin-top: 1em; }

/* line 26, day23.css.scss */
.rinehart .one {
  width: 50%;
  text-align: left;
  margin: 0 auto;
    margin-bottom: 1em; }
/* line 34, day23.css.scss */
.rinehart .two {
  width: 75%;
  text-align: left;
  margin: 0 auto;
    margin-bottom: 1em; }
/* line 42, day23.css.scss */
.rinehart .indent {
  text-align: right; }

/* line 47, day23.css.scss */
.church {
  font-size: 0.9em; }
  /* line 52, day23.css.scss */
  .church .topic {
    font-size: 1.66667em; }

/* line 57, day23.css.scss */
.light {
  font-family: "Georgia";
  font-size: 0.9em; }

/* line 66, day23.css.scss */
.definition ol li {
  margin-bottom: 1em; }
  /* line 71, day23.css.scss */
  .definition ol li li {
    margin-bottom: 0; }
/* line 79, day23.css.scss */
.definition ul {
  padding-left: 0; }

/* line 85, day23.css.scss */
.dream blockquote {
  font-style: italic; }

/* line 90, day23.css.scss */
.dream {
  font-size: 0.8em; }
  /* line 95, day23.css.scss */
  .dream .topic {
    font-size: 1.875em; }
