.names {
	margin-top: 5rem;
	h1 {
	    font-size: 6rem;
	    line-height: 7.3rem;
		.small {
			font-size: 2rem;
			font-weight: normal;
		}
		.lato {
			margin-left: -30px;;
		}
		.ocrates {
			margin-left: -5px;
		}
	}
}

.dates {
	margin-top: -37px;
	.socrates {
		margin-left: 58px;
	}
	.plato {
		margin-left: 26px;
	}
	.aristotle {
		margin-left: 52px;
	}
	.alexander {
		margin-left: 106px;
	}
}