.fruit {
	.pull-left {
		width: 58%;
	}
	.pull-right {
		width: 36%;
	}
}

.histories {
	img{
		max-width: 55%;
	}
}

.audience {
	.pull-left{
		width: 27%;
		img {
			margin-top: 1.35rem;
		}
	}
	.pull-right {
		width:73%;
	}
}

.lucifer {
	.pull-left {
		width: 57%;
	}
	.pull-right {
		width: 37%;
		img {
			margin-top: 1.35rem;
		}
	}
}
.metaphor{
	.pull-right{
		width: 32%;
		img {
			margin-top: 1.35rem;
		}
	}
	.pull-left {
		width:68%;
	}
}

.persuasion {
	img{
		max-width: 60%;
	}
}