---
title: ENG 337 - Day 3
---

:plain
	class: center, middle
	
	# Agenda
	.agenda[
	
	1. A Question
	1. A Symbol
	1. A Demon
	1. An Intuition
	
	]
	
	---
	
	class: center, middle
	.topic[A Question]
	
	# What Does the "A" Stand For?
	
	---
	
	.topic[A Symbol]
	
	## Angel?
	
	> We impute it, therefore, solely to the disease in his own eye and heart, that the minister, looking upward to the zenith, beheld there the appearance of an immense letter,—the letter A,—marked out in lines of dull red light. Not but the meteor may have shown itself at that point, burning duskily through a veil of cloud; but with no such shape as his guilty imagination gave it; or, at least, with so little definiteness, that another's guilt might have seen another symbol in it.
	>
	> — Chapter XII, "The Minister's Vigil"
	
	> “And since Satan saw fit to steal it, your reverence must needs handle him without gloves, henceforward,” remarked the old sexton, grimly smiling. “But did your reverence hear of the portent that was seen last night?—a great red letter in the sky,—the letter A, which we interpret to stand for Angel. For, as our good Governor Winthrop was made an angel this past night, it was doubtless held fit that there should be some notice thereof!”
	>
	> — Chapter XII, "The Minister's Vigil"
	
	---
	
	.topic[A Symbol]
	
	## Able?
	
	> There glimmered the embroidered letter, with comfort in its unearthly ray. Elsewhere the token of sin, it was the taper of the sick-chamber. It had even thrown its gleam, in the sufferer's hard extremity, across the verge of time. It had shown him where to set his foot, while the light of earth was fast becoming dim, and ere the light of futurity could reach him. In such emergencies, Hester's nature showed itself warm and rich; a well-spring of human tenderness, unfailing to every real demand, and inexhaustible by the largest. Her breast, with its badge of shame, was but the softer pillow for the head that needed one. She was self-ordained a Sister of Mercy; or, we may rather say, the world's heavy hand had so ordained her, when neither the world nor she looked forward to this result. The letter was the symbol of her calling. Such helpfulness was found in her,—so much power to do, and power to sympathize,—that many people refused to interpret the scarlet A by its original signification. They said that it meant Able; so strong was Hester Prynne, with a woman's strength.
	>
	> — Chapter XIII, "Another View of Hester"
	
	---
	
	.topic[A Symbol]
	
	## Portents of Doom
	
	> Nothing was more common, in those days, than to interpret all meteoric appearances, and other natural phenomena, that occurred with less regularity than the rise and set of sun and moon, as so many revelations from a supernatural source. Thus, a blazing spear, a sword of flame, a bow, or a sheaf of arrows, seen in the midnight sky, prefigured Indian warfare. Pestilence was known to have been foreboded by a shower of crimson light. We doubt whether any marked event, for good or evil, ever befell New England, from its settlement down to Revolutionary times, of which the inhabitants had not been previously warned by some spectacle of this nature. Not seldom, it had been seen by multitudes. Oftener, however, its credibility rested on the faith of some lonely eye-witness, who beheld the wonder through the colored, magnifying, and distorting medium of his imagination, and shaped it more distinctly in his after-thought. It was, indeed, a majestic idea, that the destiny of nations should be revealed, in these awful hieroglyphics, on the cope of heaven. A scroll so wide might not be deemed too expansive for Providence to write a people's doom upon.
	>
	> — Chapter XII, "The Minister's Vigil"
	
	---
	
	.topic[A Symbol]
	
	## Does Hester Believe, Though?
	
	> “It lies not in the pleasure of the magistrates to take off this badge,” calmly replied Hester. “Were I worthy to be quit of it, it would fall away of its own nature, or be **transformed into something that should speak a different purport**.”
	>
	> — Chapter XIV, "Hester and the Physician"
	
	---
	
	.topic[A Symbol]
	
	## Two Bible Stories
	
	> The walls were hung round with tapestry, said to be from the Gobelin looms, and, at all events, representing the Scriptural story of **David and Bathsheba**, and **Nathan the Prophet**, in colors still unfaded, but which made the fair woman of the scene almost as grimly picturesque as the woe-denouncing seer.
	>
	> — Chapter IX, "The Leech"
	
	---
	
	.topic[A Demon]
	
	## Chillingsworth, Wizard
	
	> To sum up the matter, it grew to be a widely diffused opinion, that the Reverend Arthur Dimmesdale, like many other personages of especial sanctity, in all ages of the Christian world, was haunted either by Satan himself, or Satan's emissary, in the guise of old Roger Chillingworth. This diabolical agent had the Divine permission, for a season, to burrow into the clergyman's intimacy, and plot against his soul. No sensible man, it was confessed, could doubt on which side the victory would turn. The people looked, with an unshaken hope, to see the minister come forth out of the conflict, transfigured with the glory which he would unquestionably win. Meanwhile, nevertheless, it was sad to think of the perchance mortal agony through which he must struggle towards his triumph.
	> 
	> — Chapter IX, "The Leech"
	
	---
	
	.topic[A Demon]
	
	## Chillingsworth, Vengeful Old Man
	
	> Old Roger Chillingworth, throughout life, had been calm in temperament, kindly, though not of warm affections, but ever, and in all his relations with the world, a pure and upright man. He had begun an investigation, as he imagined, with the severe and equal integrity of a judge, desirous only of truth, even as if the question involved no more than the air-drawn lines and figures of a geometrical problem, instead of human passions, and wrongs inflicted on himself. But, as he proceeded, a terrible fascination, a kind of fierce, though still calm, necessity, seized the old man within its gripe, and never set him free again, until he had done all its bidding. He now dug into the poor clergyman's heart, like a miner searching for gold; or, rather, like a sexton delving into a grave, possibly in quest of a jewel that had been buried on the dead man's bosom, but likely to find nothing save mortality and corruption. Alas for his own soul, if these were what he sought!
	>
	> — Chapter X, "The Leech and His Patient"
	
	---
	
	.topic[A Demon]
	
	## Dimmesdale's Demons
	
	> In these lengthened vigils, his brain often reeled, and visions seemed to flit before him; perhaps seen doubtfully, and by a faint light of their own, in the remote dimness of the chamber, or more vividly, and close beside him, within the looking-glass. Now it was a herd of diabolic shapes, that grinned and mocked at the pale minister, and beckoned him away with them; now a group of shining angels, who flew upward heavily, as sorrow-laden, but grew more ethereal as they rose. 
	> 
	> — Chapter XI, "The Interior of a Heart"
	
	> At another window of the same house, moreover, appeared old Mistress Hibbins, the Governor's sister, also with a lamp, which, even thus far off, revealed the expression of her sour and discontented face. She thrust forth her head from the lattice, and looked anxiously upward. Beyond the shadow of a doubt, this venerable witch-lady had heard Mr. Dimmesdale's outcry, and interpreted it, with its multitudinous echoes and reverberations, as the clamor of the fiends and night-hags, with whom she was well known to make excursions into the forest.
	>
	> — Chapter XII, "The Minister's Vigil"
	
	---
	class: big
	.topic[An Intuition]
	
	## Intuition
	
	* Hester can intuit hypocrisy
	* Chillingsworth intuits Dimmesdale's Guilt
	* Pearl intuits all manner of things
	
	.center[
	
	# What's the Deal With Intuition?
	
	]