html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.place img {
  width: 350px; }
.place .left-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .place .left-column:last-child {
    margin-right: 0; }
.place .right-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0;
  text-align: center; }
  .place .right-column:last-child {
    margin-right: 0; }

.ardois img {
  width: 75%;
  display: block;
  margin: 0 auto; }
