/* line 4, ../../../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../../../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 5, day19.css.scss */
.place img {
  width: 350px; }
/* line 9, day19.css.scss */
.place .left-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  /* line 89, ../../../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  .place .left-column:last-child {
    margin-right: 0; }
/* line 13, day19.css.scss */
.place .right-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0;
  text-align: center; }
  /* line 89, ../../../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  .place .right-column:last-child {
    margin-right: 0; }

/* line 23, day19.css.scss */
.ardois img {
  width: 75%;
  display: block;
  margin: 0 auto; }
