.painting1 h2, .painting2 h2 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0; }
.painting1 img, .painting2 img {
  display: block;
  margin: 0 auto; }
.painting1 .topic, .painting2 .topic {
  bottom: 15px; }

.painting1 img {
  width: 750px; }

.painting2 img {
  width: 670px; }

.remark-slide-container:nth-child(10) .topic, .remark-slide-container:nth-child(13) .topic, .remark-slide-container:nth-child(14) .topic {
  bottom: 15px; }
