/* line 2, day3.css.scss */
.new-england-authors ul li, .new-england-authors ol li, .new-england-authors p {
  font-size: 2.5rem;
  line-height: 3.5rem; }
/* line 11, day3.css.scss */
.new-england-authors .topic {
  font-size: 0.6em;
  line-height: 1.25rem; }
/* line 16, day3.css.scss */
.new-england-authors .remark-slide-number {
  line-height: 1.33em; }

/* line 21, day3.css.scss */
.small {
  font-size: 0.85rem; }

/* line 26, day3.css.scss */
.activity .pull-left {
  width: 17%; }
/* line 30, day3.css.scss */
.activity .pull-right {
  width: 77%; }
