.activity ul li, .activity ol li {
  line-height: 1.5; }
.activity .left-column {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px; }
.activity .right-column {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 0; }

.credo p {
  margin-left: 0.5in;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: -0.5in; }
