@import "bourbon";
@import "neat";

.place {
	img {
		width: 350px;
	}

	.left-column {
		@include grid-columns(4);
	}

	.right-column {
		@include grid-columns(8);

		;

		text-align: center;
	}
}

.ardois {
	img {
		width: 75%;
		display: block;
		margin: 0 auto;
	}
}
