::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.weary-blues {
	width: 90%;
	margin: 0 auto;
	height: 70%;
	overflow-y: auto;
}
