@import bourbon
@import neat

.activity
	ul, ol
		li
			line-height: 1.5
	.left-column
		@include span-columns(4)
	.right-column
		@include span-columns(8)
		@include omega
		margin:
			top: 0
		padding:
			top: 0

.credo
	p
		margin:
			left: 0.5in
			bottom: 0
			top: 0
		text:
			indent: -0.5in