---
layout: reveal
title: Net Neutrality
theme: my-sky
transition: linear
transitionSpeed: fast
---

:sass
	.reveal
		blockquote
			width: 90%
			text-align: left
			font-style: normal
		
		.left
			text-align: left
		p.big
			font-size: 1.5em
	#telecommunication
		font-size: 0.875em
	
			
%section.title
	.title-block
		%h1
			Net Neutrality:
		%h2
			What?<br>
			How?<br>
			Why?
	%aside.notes
		:markdown
			Hello and welcome to this New York Times Cafe event on Net Neutrality. I'm Dr. Andrew Pilsch and today I'll be talking to you about the topic that's currently in the news and will really affect all of our lives, going forward: Net Neutrality.
			
			Thanks for coming out tonight. I think this is an important issue facing all of us in America, but it's widely discussed as an issue only affecting people working in the tech industry. I hope to change that perception today, as well as provide a little background on the issue, as such.
%section
	%h1 Who Am I?
	
	%h2
		Andrew Pilsch
	%h2
		School of <br>Letters & Sciences
	%aside.notes
		:markdown
			First, though, a little about me. I teach in English in the School of Letters and Sciences at the ASU Polytechnic campus. My background is in a field called rhetoric, which is the study of persuasive discourse and the historical usage of communication to affect change in the world. Specifically, I study the ways in which digital technologies change the nature of discourse and how these changes in our communications change who we are and how we think. Basically, I'm interested in the way that digital technologies are remaking us as people and even what it means to be alive.
%section
	%h1 Three Questions:
	
	%h2.fragment I. What is Net Neutrality?
	
	%h2.fragment II. How Did It Happen?
	
	%h2.fragment III. Why Is It a Problem?
	%aside.notes
		:markdown
			So, to return to net neutrality, I have three key questions I want to address this evening: **Click** What is Net Neutrality? **Click** How did it Happen?  **Click** Why is it a problem? And to clarify these questions, what I want to do is explain the background of the concept and how it came to exist as a problem, including how it works. Then, I want to talk a little bit about media studies, which is my main background for approaching this problem, specifically how net neutrality represents a clash in definitions of what the Internet actually is. Then, I'll conclude by talking about why net neutrality is a broader problem than just one facing the tech industry.
%section
	%h1 I. What is Net Neutrality?
	%aside.notes
		:markdown
			And now to the first question. Basically, Net Neutrality is
%section
	%h1 The Biggest Threat to the Internet
	%h1.hug.fragment Ever
	%aside.notes
		:markdown
			The big threat to the Internet. **click** Ever.
			
			That may sound overly apocalyptic, like the sky is falling, but the situation might in fact be that bad.
			
			Net neutrality is the idea that the Internet needs to be regulated in order to preserve the principals of fairness and equality on which it was founded. As the law exists, Internet service providers (such as cable) do not have to provide equal service to all companies whose data is being moved through their networks.
			
			Ok, so that doesn't sound very sky is falling, right? There are a couple of 
%section
	%h1.left Problems
	
	%p.left.big.fragment We don't understand how the FCC regulates interstate commerce.
	%p.left.big.fragment We don't understand how the Internet works.
	%aside.notes
		:markdown	
			Problems we as Internet users may have understanding why net neutrality promises to be so damaging to American life and American business.
			
			For one things **click**, we don't understand how the FCC regulates interstate commerce under the Communications Act of 1934.
			
			For another thing **click**, we don't understand how the Internet works, despite, as I suspect most of us use it every single day.
			
			In the next bit, I want to address both these questions and, I hope this won't get too confusing, because this involves some rather arcane points about both telecommunications law **and** TCP/IP network design (which I'm sure are two topics you're really excited about).
		
			To begin addressing the point the FCC, telecommunications, and interstate commerce, I want to explain a bit about where the term Net Neutrality comes from, which will hopefully explain things. The concept was first introduced in 2003 by
%section
	= image_tag "net-neutrality/tim-wu.png", :style => "max-width: 600px"
	%aside.notes
		:markdown
			This guy, Tim Wu, who is a media law professor at Columbia University. Wu's introduction of the term net neutrality was in response to a debate raging in telecommunications law around the question of
%section
	%h1 Open Access
	%aside.notes
		:markdown			
			"open access" to then emerging broadband Internet networks. Basically, "open access" debates had to do with the moment in the early 2000s when cable companies started first offering Internet service, specifically to whether or not cable companies would have to open their networks to all customers data in an unbiased manner.
			
			Now, who here gets their home internet access from Cox? Most of you?
			
			This wasn't always the case, and when it first started to happen, this was a huge issue. Specifically, cable companies had certain regulations, but they weren't regulated in the same way as phone companies, which is how most people got their Internet at the time. Suddenly, cable and telephone networks were competing in the same market and offering the same service.
			
			Telephone companies, are what's called a 
%section
	%h1 Common Carrier
	%aside.notes	
		:markdown
			"common carrier," which are service providers who are required to fairly move all customers data through their network, in exchange for being granted certain local monopoly rights. The term common carrier originated in regulating cargo ships and trains, but was extended to the telephone in 1934, under the Communications Act of 1934.
			
			This ecosystem worked until the Internet happened. In 2002, in a decision that Tim Wu is responding to,
%section
	%h1
		#telecommunication Information <br> vs. <br> <span id="">Communication</span>
	%aside.notes
		:markdown
			the FCC defined cable Internet as an "information service" and not as a "communication service," which is a key distinction. A communication service is subject to interstate commerce regulations and is a common carrier. An information service is not regulated thusly.
			
			So, the issue of open access was muddied by this decision, and the definition of what the Internet is and how the FCC can regulate it is actually made complicated.

%section
	%h1 This is all confusing
	%h2.fragment I'm sorry
	%aside.notes
		:markdown
			Also, this is complicated to understand without a background in communication law. **Click** In 2002, I vividly remember hearing a story on NPR about the FCC's decision to define cable internet as an information service and having no idea what they were talking about. So, if you're confused, I'm sorry. The problem with discussing net neutrality is that it represents a moment where subtle legal distinctions between media services has broad and lasting impacts on our lives as 21st century, digital citizens.
			
			So, to return to Tim Wu's definition of net neutrality: the community advocating for an open Internet (which basically meant defining cable internet as a telecommunications service and therefore regulated as a common carrier) has just lost a major fight. Tim Wu writes that, 
	
%section
	:markdown
		> The promotion of network neutrality is no different than the challenge of promoting fair evolutionary competition in any privately owned environment, whether a telephone network, operating system, or even a retail store. Government regulation in such contexts invariably tries to help ensure that the short-term interests of the owner do not prevent the best products or applications becoming available to end-users. The same interest animates the promotion of network neutrality: preserving a Darwinian competition among every conceivable use of the Internet so that only the best survive.
		>
		> — _Tim Wu, "Network Neutrality, Broadband Discrimination" (2003)_
	%aside.notes
		:markdown
			QUOTE The promotion of network neutrality is no different than the challenge of promoting fair evolutionary competition in any privately owned environment, whether a telephone network, operating system, or even a retail store. Government regulation in such contexts invariably tries to help ensure that the short-term interests of the owner do not prevent the best products or applications becoming available to end-users. The same interest animates the promotion of network neutrality: preserving a Darwinian competition among **every conceivable use of the Internet** so that only the best survive.
			
			This bold portion: what sorts of things do you do online every day?
			
			Railroad example: your tannery could be squeezed out of business if railroad refused to move your product. 
			
			Common carrier law exists because it's unnecessarily wasteful to build a rail network for your tannery, not to mention super expensive.
			
			Wu is arguing that the same could be true of the Internet.
%section
	= image_tag "http://placehold.it/800x350&text=tracert"
	%aside.notes
		:markdown
			So, this suggests a second question: how could cable companies do this?
			
			As you may or not know, the Internet was originally conceived as a network to join networks (hence INTER (between) net). First connecting a couple of American University computer networks, but expanding globally, the Internet is a series of technologies that make this loosely coupled network possible.
			
			This picture: traceroute. Cox's network.
			
			Nowadays, most of the Internet, at least the part that allows us to use it, is owned by 
%section
	%h1 II. How Did It Happen?
%section
	%h1 III. Why Is It a Problem?