@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
@import "bourbon";

html {
	font-family: "Lato", "Helvetica", sans-serif;
	font-weight: 300;
	strong, b {
		font-weight: 400;
		color: black;
	}
}

p, ul li, ol li, h4 {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica", sans-serif;
	font-weight: 400;
	line-height: 1;
}

.twitter_name {
	font-weight: 400 !important;
}

.cccc15 {
	img {
		height: 55vh !important;
		max-height: 368px;
	}
}

.hug {
	.title-block {
		margin-top: 0;
	}
}

.images {
	@include clearfix;
	p {
		max-width: 33%;
		float: left;
	}
}
.bigger {
	h1 {
		font-size: 6rem;
	}
}