@import "libraries/sass-colors";

$base_font_color: #4C4F69;
$base_background_color: #EFF1F5;
$base_shadow_color: #7c7f93;
$base_light_font_color: #6c6f85;
$base_highlight_font_color: #5c5f77;
$base_highlight_background_color: #8c8fa1;

$inverse_font_color: $base_background_color;
$inverse_background_color: $base_font_color;
$inverse_shadow_color: #dce0e8;
$inverse_highlight_font_color: $base_highlight_background_color;
$inverse_highlight_background_color: $base_highlight_font_color;
$inverse_emphasis_color: #dc8a78;
$inverse_link_color: $inverse_emphasis_color;

$emphasis_color: #179299;
$progress_color: #04a5e5;
$link_color: #1e66f5;
$left_column_current_color: $base_light_font_color;

$title_color: $base_font_color;
$subtitle_color: $base_font_color;

body {
	color: $base_font_color;
}

.remark-slide, .remark-slide-content {
	background: {
		color: $base_background_color;
	};
}

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

//.emph, strong {
//	color: $emphasis_color;
//}

a, a > code {
	color: $link_color;
}

.inverse {
	background: $inverse_background_color;
	color: $inverse_font_color;

	h1, h2 {
		text-shadow: 1px 1px 2px rgba($inverse_shadow_color, 0.2);
	}
	a {
		color: $inverse_link_color;
	}
}

.left-column {
	color: $base_light_font_color;

	h1, h2, h3 {
		color: $base_light_font_color;
	}

	.current {
		color: $left_column_current_color;
	}
}

// Progress Bar Color
#remark-progress-content {
	background: {
		color: $progress_color;
	};
}

// Fix Solarized highlighting
.hljs-solarized_light:not(.inverse) pre, .hljs-solarized_light:not(.inverse) pre code {
	background: $base_highlight_background_color !important;
	color: $base_highlight_font_color;
}
