.vd {
  position: relative; }

.top-left,
.top-right,
.bot-left,
.bot-right {
  position: absolute;
  width: 50%;
  height: 50%; }

.top-left {
  top: 0;
  left: 0; }

.top-right {
  top: 0;
  right: 0; }

.bot-left {
  bottom: 0;
  left: 0; }

.bot-right {
  bottom: 0;
  right: 0; }
