/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
@import url(fonts/opensans/opensans.css);
/* line 15, _typebase.scss */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 125%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
/* line 31, _typebase.scss */
p {
  line-height: 1.35rem;
  margin-top: 1.35rem;
  margin-bottom: 0; }

/* line 37, _typebase.scss */
pre {
  margin-top: 1.35rem !important; }

/* line 41, _typebase.scss */
ul, ol {
  margin-top: 1.35rem;
  margin-bottom: 1.35rem; }
  /* line 45, _typebase.scss */
  ul li, ol li {
    line-height: 1.35rem; }
  /* line 49, _typebase.scss */
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem; }

/* line 56, _typebase.scss */
blockquote {
  line-height: 1.35rem;
  margin-top: 1.35rem;
  margin-bottom: 1.35rem; }

/* Headings */
/* line 63, _typebase.scss */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 1.35rem;
  margin-bottom: 0;
  line-height: 1.35rem; }

/* line 72, _typebase.scss */
h1 {
  font-size: 3.75rem;
  line-height: 4.05rem;
  margin-top: 2.7rem; }

/* line 78, _typebase.scss */
h2 {
  font-size: 2.5rem;
  line-height: 2.7rem;
  margin-top: 2.7rem; }

/* line 84, _typebase.scss */
h3 {
  font-size: 1.25rem; }

/* line 88, _typebase.scss */
h4 {
  font-size: 0.625rem; }

/* line 92, _typebase.scss */
h5 {
  font-size: 0.41667rem; }

/* line 96, _typebase.scss */
h6 {
  font-size: 0.3125rem; }

/* Tables */
/* line 101, _typebase.scss */
table {
  margin-top: 1.35rem;
  border-spacing: 0px;
  border-collapse: collapse; }
  /* line 106, _typebase.scss */
  table td, table th {
    padding: 0;
    line-height: 27px; }

/* Code blocks */
/* line 113, _typebase.scss */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
/* line 119, _typebase.scss */
.lead {
  font-size: 1.25rem; }

/* Hug a the block above you */
/* line 124, _typebase.scss */
.hug {
  margin-top: 0; }

/* line 4, ../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

@media all and (max-width: 30em) {
  /* line 14, themes/default/_fonts.scss */
  body {
    font-size: 16px !important; } }
/* line 21, themes/default/_fonts.scss */
html {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400; }
  /* line 27, themes/default/_fonts.scss */
  html strong {
    font-weight: 700; }

/* line 34, themes/default/_fonts.scss */
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 600; }
  /* line 40, themes/default/_fonts.scss */
  h1 .soft, h2 .soft, h3 .soft, h4 .soft, h5 .soft {
    font-weight: 400; }

/* line 24, themes/default/_colors.scss */
body {
  color: black; }

/* line 28, themes/default/_colors.scss */
.remark-slide {
  background-color: white; }

/* line 34, themes/default/_colors.scss */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/* line 39, themes/default/_colors.scss */
.emph, strong {
  color: #002387; }

/* line 43, themes/default/_colors.scss */
a, a > code {
  color: #002387; }

/* line 47, themes/default/_colors.scss */
.inverse {
  background: black;
  color: white; }
  /* line 51, themes/default/_colors.scss */
  .inverse h1, .inverse h2 {
    text-shadow: 1px 1px 2px rgba(136, 136, 136, 0.2); }

/* line 56, themes/default/_colors.scss */
.left-column {
  color: #0d0d0d; }
  /* line 59, themes/default/_colors.scss */
  .left-column h1, .left-column h2, .left-column h3 {
    color: #0d0d0d; }
  /* line 63, themes/default/_colors.scss */
  .left-column .current {
    color: #0d0d0d; }

/* line 69, themes/default/_colors.scss */
#remark-progress-content {
  background-color: #002387; }

/* line 76, themes/default/_colors.scss */
.hljs-solarized_light:not(.inverse) pre, .hljs-solarized_light:not(.inverse) pre code {
  background: #0d0d0d !important;
  color: #777; }

/* Basic Item Formatting */
/* line 25, slides.css.scss */
hr {
  width: 80%;
  border: 0;
  height: 1px;
  color: black;
  background: black;
  margin: 2em auto; }

/* line 34, slides.css.scss */
code {
  overflow: auto; }

/* line 41, slides.css.scss */
#slideshow .slide .content code {
  font-size: 0.8em; }
/* line 44, slides.css.scss */
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px; }

/* Two-column layout */
/* line 53, slides.css.scss */
.remark-slide-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, ../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
  .remark-slide-content::after {
    clear: both;
    content: "";
    display: block; }
  /* line 56, slides.css.scss */
  .remark-slide-content > h1:first-child, .remark-slide-content > h2:first-child, .remark-slide-content > h3:first-child, .remark-slide-content > h4:first-child, .remark-slide-content > h5:first-child, .remark-slide-content > h6:first-child {
    margin-top: 0; }

/* line 62, slides.css.scss */
.left-column {
  height: 92%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  /* line 89, ../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  .left-column:last-child {
    margin-right: 0; }

/* line 67, slides.css.scss */
.right-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0;
  padding-top: 2em; }
  /* line 89, ../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  .right-column:last-child {
    margin-right: 0; }
  /* line 73, slides.css.scss */
  .right-column .big {
    font-size: 1.5em; }

/* line 81, slides.css.scss */
.middle > *:first-child {
  margin-top: 0; }

/* Utility Classes */
/* line 89, slides.css.scss */
.no-margin blockquote {
  margin-left: 0;
  margin-right: 0; }

/* line 95, slides.css.scss */
.blockquote {
  display: block;
  margin-left: 0.5em;
  font-size: 1.15em;
  line-height: 1.4em; }

/* line 107, slides.css.scss */
.inverse h1 {
  line-height: 0.8em;
  margin-bottom: 1.618em; }

/* line 115, slides.css.scss */
.pull-left {
  float: left;
  width: 47%; }

/* line 120, slides.css.scss */
.pull-right {
  float: right;
  width: 47%; }

/* line 125, slides.css.scss */
.pull-right ~ p {
  clear: both; }

/* line 130, slides.css.scss */
.bigger ul li, .bigger ol li, .bigger p, .bullets ul li, .bullets ol li, .bullets p {
  font-size: 1.67rem;
  line-height: 2.5rem; }
/* line 138, slides.css.scss */
.bigger .topic, .bullets .topic {
  font-size: 0.8982em;
  line-height: 1.25rem; }
/* line 142, slides.css.scss */
.bigger .remark-slide-number, .bullets .remark-slide-number {
  line-height: 1.33rem; }

/* line 148, slides.css.scss */
.pushdown > h1:first-child, .pushdown h2:first-child, .pushdown h3:first-child, .pushdown h4:first-child, .pushdown h5:first-child {
  margin-top: 5rem; }

/* line 154, slides.css.scss */
p .big {
  font-size: 1.33rem;
  line-height: 2rem; }
/* line 162, slides.css.scss */
p .bigger {
  font-size: 1.67rem;
  line-height: 2.5rem; }

/* line 173, slides.css.scss */
ul li .normal, ol li .normal, p .normal {
  font-size: 1rem;
  line-height: 1.25rem; }

/* line 180, slides.css.scss */
.small ul li, .small ol li {
  font-size: 0.75rem;
  line-height: 1rem; }

/* line 186, slides.css.scss */
.source {
  font-size: 0.75rem;
  line-height: 1rem;
  bottom: 2rem;
  position: absolute; }

/* line 194, slides.css.scss */
.big ul li, .big ol li, .big p, .bullets ul li, .bullets ol li, .bullets p {
  font-size: 1.33rem;
  line-height: 2rem; }
  /* line 195, slides.css.scss */
  .big ul li .normal, .big ol li .normal, .big p .normal, .bullets ul li .normal, .bullets ol li .normal, .bullets p .normal {
    font-size: 1rem;
    line-height: 1.25rem; }
/* line 206, slides.css.scss */
.big .topic, .bullets .topic {
  font-size: 1.12782em;
  line-height: 1.25rem; }
/* line 210, slides.css.scss */
.big .remark-slide-number, .bullets .remark-slide-number {
  line-height: 1.33rem; }

/* line 216, slides.css.scss */
.no-bullets ol, .no-bullets ul {
  list-style: none; }

/* line 221, slides.css.scss */
.agenda, .topic {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 600; }

/* line 228, slides.css.scss */
.agenda {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  text-align: left;
  font-size: 2.4em;
  line-height: 1.618em; }
  /* line 89, ../../../../../.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  .agenda:last-child {
    margin-right: 0; }
  /* line 239, slides.css.scss */
  .agenda ol li {
    line-height: 1em;
    margin-bottom: 0.5em; }

/* line 248, slides.css.scss */
img {
  max-width: 100%;
  max-height: 565px; }

/* line 253, slides.css.scss */
.topic {
  font-size: 1.5em;
  display: block;
  position: absolute;
  bottom: 14px;
  right: 10%;
  color: #002387; }

/* line 264, slides.css.scss */
.title-block {
  margin: 1.75em 0; }
  /* line 266, slides.css.scss */
  .title-block h1, .title-block h2, .title-block h3, .title-block h4, .title-block h5 {
    line-height: 1.1em;
    margin: 0; }

/* line 273, slides.css.scss */
.title h1 {
  font-size: 2.4em;
  color: #000000; }
  /* line 276, slides.css.scss */
  .title h1 .subtitle {
    font-size: 0.83333em;
    color: #000000; }
/* line 281, slides.css.scss */
.title h2 {
  font-size: 1.4em;
  font-weight: normal; }
/* line 287, slides.css.scss */
.title h3 {
  font-size: 1.2em;
  font-weight: normal; }

/* line 296, slides.css.scss */
.works-cited ul, .works-cited ol {
  list-style-type: none;
  padding-left: 0; }
  /* line 303, slides.css.scss */
  .works-cited ul li, .works-cited ol li {
    padding-left: 0.5in;
    text-indent: -0.5in;
    margin-bottom: 1em; }
/* line 315, slides.css.scss */
.works-cited .ibid {
  display: inline-block;
  width: 1in;
  height: 1px;
  background: black;
  margin-bottom: 0.5em; }

/* Twitter Name on Each Slide */
/* line 327, slides.css.scss */
.twitter_name {
  position: absolute;
  bottom: 14px;
  left: 20px;
  font-weight: bold;
  opacity: 0.75;
  text-align: left; }

/* line 336, slides.css.scss */
.phantom {
  color: white !important; }
  /* line 338, slides.css.scss */
  .phantom img, .phantom img.phantom {
    opacity: 0; }

/* Include a Twitter Icon */
/* line 345, slides.css.scss */
.twitter_badge {
  position: relative;
  margin-left: 1.15em; }
  /* line 348, slides.css.scss */
  .twitter_badge:before, .twitter_badge:after {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 0.95em; }
  /* line 361, slides.css.scss */
  .twitter_badge:before {
    content: "\22";
    position: absolute;
    top: 0.3em;
    left: -1.15em; }

/* line 372, slides.css.scss */
.f18px p, .f18px li {
  font-size: 18px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f18px small {
  font-size: 15.3px; }

/* line 372, slides.css.scss */
.f19px p, .f19px li {
  font-size: 19px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f19px small {
  font-size: 16.15px; }

/* line 372, slides.css.scss */
.f20px p, .f20px li {
  font-size: 20px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f20px small {
  font-size: 17px; }

/* line 372, slides.css.scss */
.f21px p, .f21px li {
  font-size: 21px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f21px small {
  font-size: 17.85px; }

/* line 372, slides.css.scss */
.f22px p, .f22px li {
  font-size: 22px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f22px small {
  font-size: 18.7px; }

/* line 372, slides.css.scss */
.f23px p, .f23px li {
  font-size: 23px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f23px small {
  font-size: 19.55px; }

/* line 372, slides.css.scss */
.f24px p, .f24px li {
  font-size: 24px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f24px small {
  font-size: 20.4px; }

/* line 372, slides.css.scss */
.f25px p, .f25px li {
  font-size: 25px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f25px small {
  font-size: 21.25px; }

/* line 372, slides.css.scss */
.f26px p, .f26px li {
  font-size: 26px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f26px small {
  font-size: 22.1px; }

/* line 372, slides.css.scss */
.f27px p, .f27px li {
  font-size: 27px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f27px small {
  font-size: 22.95px; }

/* line 372, slides.css.scss */
.f28px p, .f28px li {
  font-size: 28px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f28px small {
  font-size: 23.8px; }

/* line 372, slides.css.scss */
.f29px p, .f29px li {
  font-size: 29px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f29px small {
  font-size: 24.65px; }

/* line 372, slides.css.scss */
.f30px p, .f30px li {
  font-size: 30px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f30px small {
  font-size: 25.5px; }

/* line 372, slides.css.scss */
.f31px p, .f31px li {
  font-size: 31px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f31px small {
  font-size: 26.35px; }

/* line 372, slides.css.scss */
.f32px p, .f32px li {
  font-size: 32px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f32px small {
  font-size: 27.2px; }

/* line 372, slides.css.scss */
.f33px p, .f33px li {
  font-size: 33px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f33px small {
  font-size: 28.05px; }

/* line 372, slides.css.scss */
.f34px p, .f34px li {
  font-size: 34px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f34px small {
  font-size: 28.9px; }

/* line 372, slides.css.scss */
.f35px p, .f35px li {
  font-size: 35px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f35px small {
  font-size: 29.75px; }

/* line 372, slides.css.scss */
.f36px p, .f36px li {
  font-size: 36px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f36px small {
  font-size: 30.6px; }

/* line 372, slides.css.scss */
.f37px p, .f37px li {
  font-size: 37px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f37px small {
  font-size: 31.45px; }

/* line 372, slides.css.scss */
.f38px p, .f38px li {
  font-size: 38px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f38px small {
  font-size: 32.3px; }

/* line 372, slides.css.scss */
.f39px p, .f39px li {
  font-size: 39px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f39px small {
  font-size: 33.15px; }

/* line 372, slides.css.scss */
.f40px p, .f40px li {
  font-size: 40px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f40px small {
  font-size: 34px; }

/* line 372, slides.css.scss */
.f41px p, .f41px li {
  font-size: 41px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f41px small {
  font-size: 34.85px; }

/* line 372, slides.css.scss */
.f42px p, .f42px li {
  font-size: 42px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f42px small {
  font-size: 35.7px; }

/* line 372, slides.css.scss */
.f43px p, .f43px li {
  font-size: 43px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f43px small {
  font-size: 36.55px; }

/* line 372, slides.css.scss */
.f44px p, .f44px li {
  font-size: 44px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f44px small {
  font-size: 37.4px; }

/* line 372, slides.css.scss */
.f45px p, .f45px li {
  font-size: 45px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f45px small {
  font-size: 38.25px; }

/* line 372, slides.css.scss */
.f46px p, .f46px li {
  font-size: 46px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f46px small {
  font-size: 39.1px; }

/* line 372, slides.css.scss */
.f47px p, .f47px li {
  font-size: 47px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f47px small {
  font-size: 39.95px; }

/* line 372, slides.css.scss */
.f48px p, .f48px li {
  font-size: 48px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f48px small {
  font-size: 40.8px; }

/* line 372, slides.css.scss */
.f49px p, .f49px li {
  font-size: 49px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f49px small {
  font-size: 41.65px; }

/* line 372, slides.css.scss */
.f50px p, .f50px li {
  font-size: 50px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f50px small {
  font-size: 42.5px; }

/* line 372, slides.css.scss */
.f51px p, .f51px li {
  font-size: 51px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f51px small {
  font-size: 43.35px; }

/* line 372, slides.css.scss */
.f52px p, .f52px li {
  font-size: 52px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f52px small {
  font-size: 44.2px; }

/* line 372, slides.css.scss */
.f53px p, .f53px li {
  font-size: 53px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f53px small {
  font-size: 45.05px; }

/* line 372, slides.css.scss */
.f54px p, .f54px li {
  font-size: 54px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f54px small {
  font-size: 45.9px; }

/* line 372, slides.css.scss */
.f55px p, .f55px li {
  font-size: 55px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f55px small {
  font-size: 46.75px; }

/* line 372, slides.css.scss */
.f56px p, .f56px li {
  font-size: 56px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f56px small {
  font-size: 47.6px; }

/* line 372, slides.css.scss */
.f57px p, .f57px li {
  font-size: 57px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f57px small {
  font-size: 48.45px; }

/* line 372, slides.css.scss */
.f58px p, .f58px li {
  font-size: 58px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f58px small {
  font-size: 49.3px; }

/* line 372, slides.css.scss */
.f59px p, .f59px li {
  font-size: 59px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f59px small {
  font-size: 50.15px; }

/* line 372, slides.css.scss */
.f60px p, .f60px li {
  font-size: 60px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f60px small {
  font-size: 51px; }

/* line 372, slides.css.scss */
.f61px p, .f61px li {
  font-size: 61px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f61px small {
  font-size: 51.85px; }

/* line 372, slides.css.scss */
.f62px p, .f62px li {
  font-size: 62px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f62px small {
  font-size: 52.7px; }

/* line 372, slides.css.scss */
.f63px p, .f63px li {
  font-size: 63px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f63px small {
  font-size: 53.55px; }

/* line 372, slides.css.scss */
.f64px p, .f64px li {
  font-size: 64px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f64px small {
  font-size: 54.4px; }

/* line 372, slides.css.scss */
.f65px p, .f65px li {
  font-size: 65px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f65px small {
  font-size: 55.25px; }

/* line 372, slides.css.scss */
.f66px p, .f66px li {
  font-size: 66px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f66px small {
  font-size: 56.1px; }

/* line 372, slides.css.scss */
.f67px p, .f67px li {
  font-size: 67px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f67px small {
  font-size: 56.95px; }

/* line 372, slides.css.scss */
.f68px p, .f68px li {
  font-size: 68px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f68px small {
  font-size: 57.8px; }

/* line 372, slides.css.scss */
.f69px p, .f69px li {
  font-size: 69px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f69px small {
  font-size: 58.65px; }

/* line 372, slides.css.scss */
.f70px p, .f70px li {
  font-size: 70px;
  line-height: 1.4; }
/* line 376, slides.css.scss */
.f70px small {
  font-size: 59.5px; }
