.two-column h2 {
  margin-bottom: 1.35rem;
}
.two-column ul,
.two-column ol {
  margin-top: 0;
}
.two-column ul ul,
.two-column ol ol,
.two-column ul ol,
.two-column ol ul {
  margin-left: 0.5rem;
}

