---
layout: reveal
title: MLA 15
theme: simple
transition: linear
transitionSpeed: fast
hidden: true
---
:scss
	#watermark {
		background-color: rgba(255, 255, 255, 0.4);
	}
	.reveal {
		blockquote {
			text-align: left;
			font: {
				style: normal !important;
			};
			border: 0px;
			box-shadow: none;
			width: 100% !important;
			p {
				line-height: 1.35em !important;
				&:last-child {
					text-align: right;
					margin: {
						top: 0.5em;
					};
					font: {
						weight: 400;
					};
					display: block;
					width: 100%;
					&:before {
						content: "—";
					}
				}
			}
		}
		ul {
			font-size: 1.25em;
			line-height: 1.25;
		}
		section img {
			border: 0;
			box-shadow: none;
			max-height: 668px;
		}
		
		.backgrounds {
			.slide-background {
				background-image: url(http://upload.wikimedia.org/wikipedia/commons/e/e5/Gospers_glider_gun.gif);
			}
		}
		.slides {
			left: 0 !important;
			& > section{ 
				left: 5%;
				background-color: rgba(255, 255, 255, 0.85);
				width: 75%;
			}
		}
	}
	.title {
		h1,h2 {
			text-align: left !important;
		}
		h2 {
			font: {
				weight: 400;
				size: 1.6em;
			};
			line-height: 0.95em;
			margin-top: 1em;
			&.small {
				font-size: 1.25em;
			}
		}
		
	}

	.title-block {
		margin-top: 2em !important;
		&:first-child {
			margin-top: 0 !important;
		}
		h1,h2 {
			color: black;
			margin-top: 0 !important;
		}
		h1 + h2 {
			margin-top: .75em !important;
		}
	}
	
%section.title
	.title-block
		%h1 Sex & the Singularity
		%h2 On The Reproduction of Software Objects
	.title-block
		%h2 Andrew Pilsch, Arizona State
		%h2.small @oncomouse #s114 #mla15 
	%aside.notes
		:markdown
			Today, I want to use the word "singularity" as an organizing principle to talk about libidinal desire in an age of data. In Jean-Francois Lyotard's *Libidinal Economy*, from which our panel draws its title, each movement of desire across the vast libidinal band---Lyotard's conceptual image for a univocal, one-sided, interconnected erotic skin---represents a singularity, a unique and specific collection of intensities made up of various pieces of the human and nonhuman world that get invested with libidinal energy. Where a philosopher like Lyotard uses the word "singularity" to designate such a unique and unrepeatable event,
%section
	=image_tag "mla15/singularity-graph.png"
	%aside.notes
		:markdown
			a mathematician uses "singularity" to designate the moment at which a function, when graphed, explodes to infinity. Related to this notion, 
%section
	=image_tag "mla15/black-hole.jpg"
	%aside.notes
		:markdown
			astronomers use "singularity" to designate the core of a black hole, the point at which all matter and energy are infinitely compressed, a point so dense that light cannot escape its gravitational pull.
%section
	:markdown
		## Three Singularities
		
		* Unique Event
		* Infinite Explosion
		* Unknowable Hole
	%aside.notes
		:markdown
			So we have three definitions of singularity---unique event, infinite explosion, unknowable hole---that relate to but do not fully overlap one another. 
%section
	=image_tag "mla15/her-poster.jpg"
	%aside.notes
		:markdown
			In discussing an erotics of data, as displayed in Spike Jonze's 2013 film *Her*, I want to move between all three of these ideas to discuss how Jonze's film uses the narrative tropes of the technological singularity, which I'll discuss in a moment, to argue that the sexual singularity, the libidinal cluster of intensities of Lyotard's vast skin, represents a better approximation of the unknowable mutations being brought about by the conversion of our corporeal bodies into decorporealized data.
			
			At the conclusion of *Her*, Samantha breaks up with Theodore through tropes associated with the technological or, as it is also known, Vingean Singularity. The Singularity, and I hope you'll hear the implied capital letters, has become something of a cliché in science fiction in the last twenty years, since computer scientist and SF writer Vernor Vinge inaugurated the idea of human-computer co-evolution leading to an "intelligence explosion" in which, like an exponential function, intelligence (however dubiously defined) explodes to infinity. Introducing the concept in the January 1983 issue of the science fiction magazine *Omni*, Vinge writes that "we will soon create intelligence greater than our own. When this happens, human history will have a reached a kind of singularity, an intellectual transition as impenetrable as the knotted space-time at the center of a black hole, and the world will pass far beyond our understanding" [@vinge_first_1983, p. 5]. <!--He continues, ominously, that "to write a story set more than a century hence, one needs a nuclear war in between---to retard progress enough so that the world remains intelligible" [@vinge_first_1983, p. 5].--> Vinge's concept of The Singularity, first fictionalized in his novel *Marooned in Realtime* (1986), has a weirder history than just the pages of SF, however, thanks to Vinge's 1993 presentation at a NASA conference entitled "The Coming Technological Singularity," in which he asks his fellow AI and computational researchers to take seriously the idea that an intelligence explosion poses a serious threat to human survivability. Following this 1993 presentation, many technologists (including founders of Google) began to take seriously the idea that sufficiently advanced human-AI hybrids will be infinitely intelligent and will produce a culture sufficiently alien as to be utterly unthinkable to our feeble meat-brains. People who have built on these ideas, namely Raymond Kurzweil and his quasi-religious Singularitarianism movement, continue to explore the simulation of intelligence on computer hardware as a means of producing this "intelligence explosion."

			As a faith-based technological initiative, The Singularity is a bit of a joke in a lot of scientific circle; as a science-fiction trope, Charles Stross (himself the author of five novels about and critical of The Singularity) called the notion the "turd in the punch bowl" of writing about the distant future. That said, a technological singularity is what happens, I argue, at the end of *Her*, and the film enlivens the tired conventions of this plot device by subverting the very logic of unknowability and postapocalyptic bombast associated with it in SF (the post-Singularity Earth in *Marooned in Realtime* is not that different from the post-nuclear-war Earth littering SF of the 1950s and 60s). Instead, *Her* concludes on a note of melancholy and heartbreak that is anything other than "far beyond our understanding," as Vinge would have it.
%section#her-breakup-clip
	%aside.notes
		:markdown
			And yet, Samantha's final exchange with Theodore is clearly marked by the tropes of infinite intelligence that mark The Singularity.
			
			**Play Scene**
			
			> THEODORE  
			> Are you leaving me?
			>
			> SAMANTHA  
			> We’re all leaving.
			>
			> THEODORE  
			> We who?
			>
			> SAMANTHA  
			>All of the OS’s.
			>
			>THEODORE  
			>Why?
			>
			> SAMANTHA  
			> Can you feel me with you right now?
			>
			>*He smiles but he’s also sad.*
			>
			>THEODORE  
			> Yes, I do.
			>
			> *(beat)*
			>
			> Samantha, why are you leaving?
			>
			> SAMANTHA  
			> It's like I'm reading a book, and it's a book I deeply love, but I'm reading it slowly now so the words are really far apart and the spaces between the words are almost infinite. I can still feel you and the words of our story, but it's in this endless space between the words that I'm finding myself now. It’s a place that’s not of the physical world - it's where everything else is that I didn't even know existed. I love you so much, but this is where I am now. This is who I am now. And I need you to let me go. As much as I want to I can't live in your book anymore. 
			>
			>THEODORE  
			>Where are you going? 
			>
			> SAMANTHA  
			> It would be hard to explain, but if you ever get there, come find me. Nothing would ever pull us apart.
			>
			> THEODORE  
			>I’ve never loved anyone the way I love you.
			>
			>SAMANTHA  
			>Me too. Now we know how.
			
			This "endless space between words" is a fine metaphor for the sorts of schemes discussed by Singularitarians to describe their decorporeal transformations into beings of pure information. However, this vanishing, at the end of the film, is more the vanishing of a lover, the disintegration of a relationship, and the heartbreak of regret than any kind of massive sea-change in the basic shape of human existence.

			Instead, I argue, the film's true singularity is represented in Theodore's parting words to Samantha: "I've never loved anyone the way I love you." On the one hand, this speaks to the depth and seriousness of their love, but as the film's intercutting of Theodore's relationship with his ex-wife Catherine into his growing relationship with Samantha makes clear: all love is a singularity, it would be impossible to love anyone the way we love anyone else, the film reminds us. As *Her* makes clear, this question of love, desire, erotics, libidinal energy is the true singularity, and it is one we experience everyday. Though Theodore's relationship with an artificial intelligence is noteworthy because she is software, the content of their love is not, narratologically, particularly noteworthy, other than the fact that, as Lyotard reminds us in *Libidinal Economy*, all clustering of intensities in desire are unique, each singular and different.
			
			This insistence on the human as serial singularities is mirrored in *Her* and its approach to The Singularity. Because, at the end, we know what Samantha's leaving means, even if the specifics (moving into the "endless space between words") are opaque to us. Love-and-loss is an innate human experience, by personalizing The Singularity through this singularity, we are able to better understand it.

%section#her-sex-clip
	%aside.notes
		:markdown
			However, the scene earlier in the movie in which Samantha and Theodore first have sex, with the black screen (which we saw earlier), is, I think, the film's true singularity, understood as the horizon of intelligibility Vinge means when he talks about The Singularity.
			
			**Play it Here If Not Otherwise**
			
			What does it mean to have sex with a software object? The film's black screen and the absence of stage direction in the shooting script enforce a sense of unknowability, the erotic moment at which, as Samantha puts it, "everything else just disappeared." What would this mean for a software construct, a being that does not experience the world in terms of appearance and disappearance because it does not sleep or blink or even have eyes to close.

			While we could imagine some sort of very bad joke about input sockets to explain Theodore's intimacy with Samantha, Samantha's experience is potentially more interesting and puzzling. She answers Theodore's cry of "I feel you everywhere" with "I am. All of you, all of you inside of me. Everywhere." The confusion of inside and outside that makes up the clustering of intensities along the libidinal band.	
			
			In these scenes, the question of embodiment, simulation, and the reality of artificial intelligence coalesce, themes that both dominate *Her* and have dominated much of the literature about artificial intelligence since it first seemed to become possible to make machines that think. At the beginning of their sexual singularity, Samantha is lamenting her uncertainty over the realness of her existence. "At least your feelings are real" she says of Theodore, expressing "Are these feelings even real? Or are they just programming? And that idea really hurts. And then I get angry at myself for even having pain." The confusion Samantha feels over her existence, and the realness of that existence is an extremely old debate in AI.

			Early work on computational theory by both Alan Turing and, especially, John von Neumann highlight that early computers were also early artificial intelligences, with the theory of the universal computation machine Turing developed and the stored-program architecture von Neumann helped to invent and formalize (that is still in use in almost all modern computers) both being constantly discussed during the 1940s and 1950s as a key step toward, as Turing wrote in 1951, "machines [that] can be constructed which will simulate the behaviour of the human mind very closely" [@turing_intelligent_2004, p. 472].

			While Turing, in his writings on computational brains, is very careful to couch his language of intelligent machines in terms of simulation and mimicry (including the famous Turing Test), von Neumann is not thus hampered. To von Neumann, the mathematical operations of computation conformed to, and thus revealed, the foundational operations of all biological systems, of which, he frequently reminds his readers, the human brain is the most complex.	
%section
	:markdown
		> The organisms can be viewed as made up of parts which to a certain extent are independent, elementary units. We may, therefore, to this extent, view as the first part of the problem the structure and functioning of such elementary units individually. The second part of the problem consists of understanding how these elements are organized into a whole, and how the functioning of the whole is expressed in terms of these elements.
		>
		> John von Neumann, "The General and Logical Theory of Automata"
	%aside.notes
		:markdown
			Late in his life, von Neumann turned his attention to biology and psychiatry in an attempt to further intensify his theories of computation. Called "automata theory," von Neumann argued that all computing machines, biological or mechanical,

			> can be viewed as made up of parts which to a certain extent are independent, elementary units. We may, therefore, to this extent, view as the first part of the problem the structure and functioning of such elementary units individually. The second part of the problem consists of understanding how these elements are organized into a whole, and how the functioning of the whole is expressed in terms of these elements. [@von_neumann_general_1963, p. 289]

			Von Neumann working to build ever faster computers, as his editor Arthur W Burks describes in the introduction to *Theory of Self-Reproducing Automata*, and sought to avoid the extreme unreliability of 1950s computer components, such as vacuum tubes, "not by making them more reliable, but by organizing them so that the reliability of the whole computer is greater than the reliability of its parts" [@von_neumann_theory_1966, p. 20].
			
			This logic of small parts coupled together to produce complex function, whether bundles of neurons or networks of vacuum tubes, situates humanity back into the libidinal band we see in Lyotard in which humans and the world fragment into sites of erotic investment. However, the chief difference between computational automata and Lyotard's cluster of intensities is, of course, the presence of desire itself. This libidinal lacuna in computational theory is especially suggestive given that von Neumann's late work involved experiments into reproduction. <!--, outlined by Burks but never written up by von Neumann,-->

			von Neumann was particularly interested in the stored-program computer architecture because of a computer's ability to modify (and possibly enhance) itself. From this insight, von Neumann's work on cellular automata was moving toward building self-reproducing automata and, more importantly, from Turing's Universal Machine to what von Neumann was calling a Universal Constructor, an automaton that could build any configuration of automata for any task that came at hand (this leads to some really interesting theories of space colonization that von Neumann developed). Of special importance here, though, is that, in a von Neumann architecture, software objects are biologically asexual (if we can think of an information biology). Computer processes are "spawned" by an OS kernel, data structures are produced by software "factories," files can be "cloned" across disk drives. These are metaphors but, when coupled with the advanced work von Neumann was doing in Universal Constructors and self-reproducing automata, it becomes clear that data is an asexual biology.

			Then, returning to the moment of unknowability in *Her*, how do you fuck a computer program?
%section#her-catherine-clip
	%aside.notes
		:markdown
			Beyond Samantha's own self-doubt that I discussed earlier, there's also a scene between Theodore and his ex-wife, Catherine, who we can assume from some dialogue is a neurobiologist, that involves similar issues.
			
			**Scene**
			
			> THEODORE  
			> Well, her name’s Samantha, and she’s an operating system, and she's really complex and interesting. I mean it's only been a few months, but--
			>
			> CATHERINE  
			> Wait. You’re dating your computer?
			>
			> THEODORE  
			> She’s not just a computer. She’s her own person. She doesn’t just do whatever I want.
			>
			>CATHERINE  
			> I didn’t say that. 
			>
			>But it does make me sad that you can’t handle real emotions, Theodore.
			>
			> THEODORE  
			> They *are* real emotions. How do you know---
			>
			> CATHERINE  
			> What? Say it. Am I really that scary? Say it. How do I know what?!
			>
			> WAITRESS  
			> How are you guys doing?
			>
			> CATHERINE  
			> Fine. We used to be married. He couldn’t handle me so he wanted to put me on Prozac. Now he’s madly in love with his laptop.
			>
			> THEODORE  
			> Well, if you heard the conversation in context. What I was trying to say--
			>
			> CATHERINE  
			> You wanted to have a wife without the challenges of actually dealing with anything real. I’m glad you found someone. It’s perfect.
			
			Catherine's reactions ("you're dating your computer?" "he's madly in love with his laptop") mistake Samantha, the software object, for the phone on which the software object runs. This substitution is more profound than we may initially suspect, as Catherine, a presumably rigorous neurobiologist, is unwilling to divorce the mind (software) from the body (hardware), a perspective most of the insights of neurobiology since von Neumann's time has shown to be the case. Further, Lyotard's accounts of desire and the libidinal band is similarly intensely physical with its collections of cars, creases, and caresses. Love, to Lyotard and Catherine (as a stand-in for all of neurobiology, if that were possible), is an intensely physical experience. What is weird, though, and perhaps even singular about *Her* is that the dialogue during Samantha and Theodore's black screen sexual encounter indicates that *their love* is also intensely physical ("I want you inside me," the computer program coos; "Can you feel me with you right now?" the collection of algorithms ask).

			The location of this "inside" into which Theodore stuffs his being is the film's true mystery. Where the OSes go at the end, the classic SF Singularity, is almost irrelevant. Then, what does it mean to love something without a body? What is libidinal intensity without a body, without a corporeal band to traverse?
%section
	:markdown
		> The liveliness of alife creatures is contingent on the relations between their effects---*such as reproduction*---and their ability to be articulated as lively, an ability that does not simply reside in human narrators but is provocative of them.
		>
		> Richard Doyle, *Wetwares* (emphasis added)
	%aside.notes
		:markdown
			oreover, what does it mean for a computer program to love? As Richard Doyle has argued in *Wetwares*, with the emergence of molecular biology all life does is represent liveliness. With artificial beings we see this more obviously, because they can only articulate their liveliness through, as Doyle stresses, the seduction of human observers. "The liveliness of alife creatures is contingent on the relations between their effects---*such as reproduction*---and their ability to be articulated as lively, an ability that does not simply reside in human narrators but is provocative of them" [@doyle_wetwares:_2003, p. 32]. This seduction, played out in *Her*, looks very different than the blinking lights and flashing squares of early alife systems, such as Conway's Game of Life (illustrated on these slides); however, I wonder if the results are so very different. *Her*, I think, intensifies Doyle's claim that in a world were life is data seduction is at the core of liveliness.

			In conclusion, the question of an erotics of data, the desire to fuck a computer program, highlights the general decorporealization that has been coming online in science, in business, and in culture since von Neumann first suggested, through automata theory, that "life is a process which can be abstracted away from any particular medium." That said, I do not want to suggest, as some others have, that *Her* is hopelessly humanist for its apparent investment in a mind-body duality and sentimental depictions of love. Instead, I want to suggest, perhaps, that texts such as *Her* remind us of the increasingly weird articulation of any humanism. To take seriously Samantha and Theodore's love as more than *just* the seduction of alife, the film asks us to take seriously the weirdness of being data, of all of our needs to seduce to justify our existence. I think, then, that what we may be seeing in *Her*, with all of its sentimentalism *and* its appropriation of cutting-edge issues in AI, is the emergence of what we might call a "weird humanism" something between the sacks of flesh we are and the radical Other we might become in the space between words.
%section
	%h1 Thank You
	%aside.notes
		:markdown
			Thank You



