---
layout: remark
title: SLSA 13
---

:plain
	class: center, middle, title
	
	# "I am afraid of a draught of cool air": <br/>.subtitle[Lovecraft, Air Conditioning, <br/> &amp; Autophagic Modernity]

	## SLSA '13 <br/> University of Notre Dame <br/> Oct. 5, 2013
	## Andrew Pilsch <br/> Arizona State University

	---
	class: middle, center
	
	![H.P. Lovecraft](http://upload.wikimedia.org/wikipedia/en/2/27/Lovecraft1934.jpg)
	
	---
	class: middle
	
	> The figure before me was short but exquisitely proportioned, and clad in somewhat formal dress of perfect cut and fit. A high-bred face of masterful though not arrogant expression was adorned by a short iron-grey full beard, and an old-fashioned pince-nez shielded the full, dark eyes and surmounted an aquiline nose which gave a Moorish touch to a physiognomy otherwise dominantly Celtiberian. Thick, well-trimmed hair that argued the punctual calls of a barber was parted gracefully above a high forehead; and the whole picture was one of striking intelligence and superior blood and breeding.
	>
	> — H.P. Lovecraft, _Tales_, p. 160
	