---
title: WSRL 13
layout: remark
---

:plain
	class: center, middle, title
	
	.title-block[
	# .subtitle[Proposal For]
	# Shooting at Agency
	]
	.title-block[
	## Andrew Pilsch
	## Arizona State University]
	
	.title-block[
	## WSRL 2013
	## University of Utah
	## October 25, 2013
	]
	
	---
	class: middle
	
	.hamlet-quote[
	> For murder, though it have no tongue, will speak <br/>
	> With most miraculous organ.
	>
	> .hamlet-attribution[— _Hamlet_, Act II, Scene ii]]
	
	---
	class:middle
	> 1. What does a nonhuman rhetoric have to offer?
	>
	> The answer to question #1 begins with recognizing the limits of "human rhetoric:" that is, one that asserts only humans are rhetorical. First, historically we can see how the category of humans has not always included all humans. As such, the definition of rhetoric has always been mixed up with the definition of humanness in ways that have had obvious political implications. Part of the political project of rhetoric then has been getting all humans equally into the human-rhetorical club.
	>
	> — Alex Reid, ["What An Objected-Oriented Rhetoric Has To Offer"](http://alex-reid.net/2012/10/what-an-object-oriented-rhetoric-has-to-offer.html)
	
	---
	class: middle
	> Though there are likely many ways to approach this, right now, I am conceiving of rhetoric as a general, nonhuman, relational force that any object might possibly enter into to the same extent as any object might have psychic/cognitive experiences. 
	> 
	> — Alex Reid, ["What An Objected-Oriented Rhetoric Has To Offer"](http://alex-reid.net/2012/10/what-an-object-oriented-rhetoric-has-to-offer.html)
	---
	class: science
	.title-block[
	# Gravity
	]
	---
	class: science
	.title-block[
	# Gravity
	# Thermodynamics
	
	]
	---
	class: science
	.title-block[
	# Gravity
	# Thermodynamics
	# Electromagnetism
	
	]
	---
	class: science
	.title-block[
	# Gravity
	# Thermodynamics
	# Electromagnetism]
	
	.center[
	# RHETORIC?
	]
	---
	class: middle
	> Rhetoric/symbolic action has long been a hallmark of a secular human exceptionalism. There are many reasons, beyond the immediate concerns of rhetoric, that one might be concerned with this exceptionalist belief: **for example, it's impact on how we address climate change**.
	>
	> — Alex Reid, ["What An Objected-Oriented Rhetoric Has To Offer"](http://alex-reid.net/2012/10/what-an-object-oriented-rhetoric-has-to-offer.html)
	---
	class: center, middle, hyperobjects
	![Hyperobjects](http://anthroposcene.files.wordpress.com/2013/03/morton_hyperobjects_cover.jpg)
	---
	class: middle
	>  Hyperobjects are real objects that are massively distributed in time and space. Good examples would be global warming and nuclear radiation. Hyperobjects are so vast, so long lasting, that they defy human time and spatial scales.
	>
	> — Tim Morton, "Zero Landscapes in the Time of Hyperobjects"
	---
	class: middle
	> To this extent H. P. Lovecraft’s monstrous god Cthulhu is a hyperobject, a giant squid-like being floating asleep in a non-Euclidean realm out there in the Universe. Our ecological devastation has summoned these Cthulhu-like hyperobjects to terrorize us.
	>
	> — Tim Morton, "Zero Landscapes in the Time of Hyperobjects"
	---
	class: center, middle
	![Cthulhu](http://images1.wikia.nocookie.net/__cb20100202021247/lovecraft/images/1/1b/Kraken-cthulhu.jpg)
	---
	class: center, middle
	
	![Eagle](http://www.hotxblog.com/images/golden_eagle_hunting6.jpg)
	---
	
	class: center, middle, rocks
	
	![Rocks](http://3.bp.blogspot.com/-m05Q-q7k9Ww/UKQJpxe-tTI/AAAAAAAAAbI/Dvt2D6Hb-nw/s1600/Stacked+Rocks+-+for+Stepping+Stone+post+-+Karlene+Jacobsen+-+Joy%2527s+blog+post+-+NOV+20.jpg)
	---
	class: middle
	
	> That is no reason to blame the large birds of prey for carrying off the little lambs. And if the lambs say to each other, ‘These birds of prey are evil; and whoever is least like a bird of prey and most like its opposite, a lamb, – is good, isn’t he?’, then there is no reason to raise objections to this setting-up of an ideal beyond the fact that the birds of prey will view it somewhat derisively, and will perhaps say: ‘We don’t bear any grudge at all towards these good lambs, in fact we love them, nothing is tastier than a tender lamb.’ ... A quantum of force is just such a quantum of drive, will, action, in fact it is nothing but this driving, willing and acting, and only the seduction of language (and the fundamental errors of reason petriﬁed within it), which construes and misconstrues all actions as conditional upon an agency, a ‘subject’, can make it appear otherwise.
	>
	> — Friedrich Nietzsche, _On the Genealogy of Morals_, Essay 1
	---
	class: center,nra
	## Guns Don't Kill People
	## People Kill People
	---
	class: center,nra

	## Guns Don't Kill People
	## People Don't Kill People
	## Material-Semiotic Hybrids Kill People
	---
	class: middle
	> What does the gun add to the shooting? In the materialist account, everything: an innocent citizen becomes a criminal by virtue of the gun in her hand. The gun enables of course, but also instructs, directs, even pulls the trigger---and **who, with a knife in her hand, has not wanted at sometime to stab someone or something**? Each artifact has its script, its "affordance," its potential to take hold of passerby and force them to play roles in its story. By contrast, the sociological version of the NRA renders the gun a neutral carrier of will that adds nothing to the action, playing the role of an electrical conductor, good and evil flowing through it effortlessly.
	>
	> — Bruno Latour, "On Technical Mediation"
	---
	class: middle
	> You are different with a gun in hand; the gun is different with you holding it. You are another subject because you hold the gun; the gun is another object because it has entered into a relationship with you. The gun is no longer the gun-in-the-armory or the gun-in-the-drawer or the gun-in-the-pocket, but the gun-in-your-hand, aimed at someone who is screaming.
	> 
	> — Bruno Latour, "On Technical Mediation"
	---
	class: center, middle, latour	
	![Latour: Composition](http://dl.dropboxusercontent.com/u/28696035/wsrl13/latour_figure2.png)
	---
	class: center, distortion
	.title-block[
	# Distort 
	# Human
	# Agency]
	---
	class: center, distortion
	.title-block[
	# Distort 
	# Human
	# Agency
	# Toward
	# Violence]
	---
	class: center, middle
	
	# Rhetoric of the Swerve?
	---
	class: center, middle
	
	# Proposal:
	## To Think the Boundary Between Physics and Persuasion
	---
	class: center, middle, stalin
	
	![Stalin](http://foglobe.com/data_images/main/josef-stalin/josef-stalin-04.jpg)
	---
	class: center, middle, stalin
	
	> One Death is a Tragedy.
	>
	> One Million Deaths <br/> is a Statistic.
	---
	class: middle, center
	# Thanks