@import "bourbon";

ul li, ol li {
	line-height: 1.75rem;
}

.remark-slide-content {
}

.half-column {
}

.slide2 {
	ul {
		list-style: none;
	}

	li {
		font-size: 1.1rem;
		margin-bottom: 0.75rem;
		line-height: 1.25rem;
	}
}

.slide3 {
	ol {
		ol {
			list-style: lower-alpha;
		}
	}

	.subgenre-list {
	}

	.definition-list {

		

		ul {
			list-style: none;
			padding: {
				left: 0;
			};
		}
	}
}

.slide4 {}

.slide5 {
	.key, .graph {
		//width: 520px
 
	}

	.key {

		

		//margin: 0 auto
 
	}

	.graph {
		//margin: 0 auto
	}

	ol {
		list-style: none;
		counter-reset: slide5 7;
		text-align: left;
		margin-left: 0.5em;
		padding-left: 0;
	}

	li {
		counter-increment: slide5;
		position: relative;
		margin: 0 0 6px 2em;
		padding: 4px 3px;

		&:before {
			position: absolute;
			top: 0px;
			left: -2em;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin-right: 3px;
			padding: 4px;
			width: 2em;
			text-align: right;
			content: counter(slide5) ". ";
			padding: {
				right: 5px;
			};
		}
	}
}

.slide6 {
	canvas {
		margin: 0 auto;
		display: block;
	}
}

.slide8, .slide10 {
	table {
		border: 1px solid black;
		padding: 0.5em;
		margin: 0 auto;
	}

	td {
		padding: 0 0.5em;

		&:first-child {
			padding: 0;
		}
	}
}

.slide10 {
	.chart {
		vertical-align: middle;


		table {
			font-size: 0.72em;
			margin-top: 2em;
		}
	}

	.legend {

		

		.column {
			text-align: left;

			ul {
				list-style: none;

				li {
					line-height: 1.25rem;
				}

				ul {
					list-style: disc;
					margin-bottom: 0.5em;
				}
			}

			//@include grid-column(6)
			//&:nth-child(odd)
			//	
	 
		}
	}
}

svg {
	margin: auto;
}

#slide4_figure1, #slide4_figure2 {
	width: 680px;
	height: 230px;
}

#slide5_figure1 {
	width: 450px;
	height: 350px;
}

#slide6_figure1, #slide7_figure1, #slide9_figure1 {
	width: 670px;
	height: 350px;
}

#slide11_figure1 {
	width: 670px;
	height: 500px;

	text {
		font: {
			weight: bold;
			size: 14px;
		};
	}
}
