---
title: ENG 337 - Day 12
---

:plain
	class: center, middle
	
	# Agenda
	.agenda[

	1. A Question
	1. Tableuax
	1. Rosedale
	1. Class

	]

	---
	class:center,middle
	.topic[A Question]

	.title-block[
	## In a Novel About Privilege
	# How Do We Feel Sorry for Lily Bart?
	]
	---
	.topic[Tableux]

	## Tableux Vivants

	.center[.medusa[
	![Tableux Vivants](http://madamepickwickartblog.com/wp-content/uploads/2010/07/medusa8.jpg)

	![Original](http://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Th%C3%A9odore_G%C3%A9ricault,_Le_Radeau_de_la_M%C3%A9duse.jpg/800px-Th%C3%A9odore_G%C3%A9ricault,_Le_Radeau_de_la_M%C3%A9duse.jpg)
	]]
	---

	class: middle,center
	.topic[Tableux]
	.mrs-lloyd[
	![Reynold's Mrs. Lloyd](http://elysesnow.files.wordpress.com/2012/01/reynolds143.jpg)
	]

	---
	class: small
	.topic[Tableux]

	## Lily = Mrs. Lloyd

	> Here there could be no mistaking the predominance of personality—the unanimous "Oh!" of the spectators was a tribute, not to the brush-work of Reynolds's "Mrs. Lloyd" but to the flesh and blood loveliness of Lily Bart. She had shown her artistic intelligence in selecting a type so like her own that she could embody the person represented without ceasing to be herself. It was as though she had stepped, not out of, but into, Reynolds's canvas, banishing the phantom of his dead beauty by the beams of her living grace. The impulse to show herself in a splendid setting—she had thought for a moment of representing Tiepolo's Cleopatra—had yielded to the truer instinct of trusting to her unassisted beauty, and she had purposely chosen a picture without distracting accessories of dress or surroundings. Her pale draperies, and the background of foliage against which she stood, served only to relieve the long dryad-like curves that swept upward from her poised foot to her lifted arm. The noble buoyancy of her attitude, its suggestion of soaring grace, revealed the touch of poetry in her beauty that Selden always felt in her presence, yet lost the sense of when he was not with her. Its expression was now so vivid that for the first time he seemed to see before him the real Lily Bart, divested of the trivialities of her little world, and catching for a moment a note of that eternal harmony of which her beauty was a part.
	>
	> — Book 1, Chapter 12

	---
	.topic[Tableux]

	## Aftermath

	> "Deuced bold thing to show herself in that get-up; but, gad, there isn't a break in the lines anywhere, and I suppose she wanted us to know it!"
	>
	> — Book 1, Chapter 12

	____

	> "Lily? She's just gone. She had to run off, I forget where. Wasn't she wonderful last night?"
	>
	>"Who's that? Lily?" asked Jack Stepney, from the depths of a neighbouring arm-chair. "Really, you know, I'm no prude, but when it comes to a girl standing there as if she was up at auction—I thought seriously of speaking to cousin Julia."
	>
	> — Book 1, Chapter 14

	---

	.topic[Rosedale]

	## Introduction

	> Under the Georgian porch she paused again, scanning the street for a hansom. None was in sight, but as she reached the sidewalk she ran against a small glossy-looking man with a gardenia in his coat, who raised his hat with a surprised exclamation.
	>
	>"Miss Bart? Well—of all people! This IS luck," he declared; and she caught a twinkle of amused curiosity between his screwed-up lids.
	>
	>"Oh, Mr. Rosedale—how are you?" she said, perceiving that the irrepressible annoyance on her face was reflected in the sudden intimacy of his smile.
	>
	>Mr. Rosedale stood scanning her with interest and approval. He was a plump rosy man of the blond Jewish type, with smart London clothes fitting him like upholstery, and small sidelong eyes which gave him the air of appraising people as if they were bric-a-brac. He glanced up interrogatively at the porch of the Benedick.
	>
	> — Book 1, Chapter 1

	---
	.topic[Rosedale]

	## Racism

	> He had his race's accuracy in the appraisal of values, and to be seen walking down the platform at the crowded afternoon hour in the company of Miss Lily Bart would have been money in his pocket, as he might himself have phrased it. He knew, of course, that there would be a large house-party at Bellomont, and the possibility of being taken for one of Mrs. Trenor's guests was doubtless included in his calculations. Mr. Rosedale was still at a stage in his social ascent when it was of importance to produce such impressions.
	>
	> ...
	>
	> Rosedale, with that mixture of artistic sensibility and business astuteness which characterizes his race, had instantly gravitated toward Miss Bart
	>
	> — Book 1, Chapter 2
	---
	.topic[Rosedale]
	## Social Climbers, All

	> An occasional caustic allusion to "your friends the Wellington Brys," or to "the little Jew who has bought the Greiner house—some one told us you knew him, Miss Bart,"—showed Lily that she was in disfavour with that portion of society which, while contributing least to its amusement, has assumed the right to decide what forms that amusement shall take.
	>
	> — Book 1, Chapter 12

	---
	class: small
	.topic[Rosedale]
	## New Money

	> That Greiner house, now—a typical rung in the social ladder! The man who built it came from a _milieu_ where all the dishes are put on the table at once. His facade is a complete architectural meal; if he had omitted a style his friends might have thought the money had given out. Not a bad purchase for Rosedale, though: attracts attention, and awes the Western sight-seer.By and bye he'll get out of that phase, and want something that the crowd will pass and the few pause before. Especially if he marries my clever cousin—"
	>
	>Selden dashed in with the query: "And the Wellington Brys'? Rather clever of its kind, don't you think?"
	>
	>"That's the next stage: the desire to imply that one has been to Europe, and has a standard. I'm sure Mrs. Bry thinks her house a copy of the _Trianon_; in America every marble house with gilt furniture is thought to be a copy of the _Trianon_. What a clever chap that architect is, though—how he takes his client's measure! He has put the whole of Mrs. Bry in his use of the composite order. Now for the Trenors, you remember, he chose the Corinthian: exuberant, but based on the best precedent.
	>
	> — Book 1, Chapter 14

	---
	.topic[Rosedale]

	## $$$

	> "Tell you what it is, though, that kind of woman costs more than all the rest of 'em put together. If a woman's going to ignore her pearls, they want to be better than anybody else's—and so it is with everything else. You know what I mean—you know it's only the showy things that are cheap. Well, I should want my wife to be able to take the earth for granted if she wanted to. I know there's one thing vulgar about money, and that's the thinking about it; and my wife would never have to demean herself in that way."
	>
	> — Book 1, Chapter 15

	---
	.topic[Rosedale]

	## Like Lily

	> When Mr. Rosedale took leave, he carried with him, not only her acceptance of his invitation, but a general sense of having comported himself in a way calculated to advance his cause. He had always believed he had a light touch and a knowing way with women, and the prompt manner in which Miss Bart (as he would have phrased it) had "come into line," confirmed his confidence in his powers of handling this skittish sex. Her way of glossing over the transaction with Trenor he regarded at once as a tribute to his own acuteness, and a confirmation of his suspicions. The girl was evidently nervous, and Mr. Rosedale, if he saw no other means of advancing his acquaintance with her, was not above taking advantage of her nervousness.
	>
	> — Book 1, Chapter 10

	---
	.topic[Class]

	## Mighty?

	> "You are mistaken," she said indifferently. "I have offered all I am willing to give for the letters; but there may be other ways of getting them."
	>
	>Mrs. Haffen raised a suspicious glance: she was too experienced not to know that the traffic she was engaged in had perils as great as its rewards, and she had a vision of the elaborate machinery of revenge which a word of this commanding young lady's might set in motion.
	>
	> — Book 1, Chapter 9

	---
	.topic[Class]

	## Hothouse Orchid

	> Her visit to the Girls' Club had first brought her in contact with the dramatic contrasts of life. She had always accepted with philosophic calm the fact that such existences as hers were pedestalled on foundations of obscure humanity. The dreary limbo of dinginess lay all around and beneath that little illuminated circle in which life reached its finest efflorescence, as the mud and sleet of a winter night enclose a hot-house filled with tropical flowers. All this was in the natural order of things, and the orchid basking in its artificially created atmosphere could round the delicate curves of its petals undisturbed by the ice on the panes.
	>
	> — Book 1, Chapter 14

	---
	.topic[Class]

	## Poor?

	> Though many of Selden's friends would have called his parents poor, he had grown up in an atmosphere where restricted means were felt only as a check on aimless profusion: where the few possessions were so good that their rarity gave them a merited relief, and abstinence was combined with elegance in a way exemplified by Mrs. Selden's knack of wearing her old velvet as if it were new. A man has the advantage of being delivered early from the home point of view, and before Selden left college he had learned that there are as many different ways of going without money as of spending it.
	>
	> — Book 1, Chapter 14