---
title: ENG 337 - Day 10
---

:plain
	class: center, middle
	
	# Agenda
	.agenda[

	1. A Question
	1. Europe
	1. Study?

	]
	
	---
	class: center, middle
	.topic[A Question]

	# Do You Care / <br/> Does It Matter <br/> That Daisy Dies At the End?

	---
	.topic[A Question]
	## Roman Fever?

	From [_Wikipedia_](http://en.wikipedia.org/wiki/Roman_Fever_(disease):

	> Roman fever refers to a particularly deadly strain of malaria that affected Rome, Italy, throughout various epochs in history; an epidemic of Roman fever during the fifth century AD may have contributed to the fall of the Roman empire. It was thought that Roman fever was contracted at night, and thus that it was dangerous to venture out, a belief that American authors Henry James and Edith Wharton employ in their stories "Daisy Miller" and "Roman Fever," respectively.

	---
	class: center, middle
	.topic[Europe]

	# Why Are the Millers in Europe?

	---

	.topic[Europe]

	## Common?

	> "Common," she was, as Mrs. Costello had pronounced her; yet it was a wonder to Winterbourne that, with her commonness, she had a singularly delicate grace.
	>
	> Her mother was a small, spare, light person, with a wandering eye, a very exiguous nose, and a large forehead, decorated with a certain amount of thin, much frizzled hair. Like her daughter, Mrs. Miller was dressed with extreme elegance; she had enormous diamonds in her ears. So far as Winterbourne could observe, she gave him no greeting—she certainly was not looking at him. Daisy was near her, pulling her shawl straight. "What are you doing, poking round here?" this young lady inquired, but by no means with that harshness of accent which her choice of words may imply.

	---

	.topic[Europe]

	## Titles

	> He has nothing but his handsome face to offer, and there is a substantial Mr. Miller in that mysterious land of dollars. **Giovanelli knows that he hasn't a title to offer**. If he were only a count or a marchese! He must wonder at his luck, at the way they have taken him up.
	>
	> ...
	>
	> "It is very true," Winterbourne pursued, "that Daisy and her mamma have not yet risen to that stage of—what shall I call it?—of culture at which the idea of catching a count or a marchese begins. I believe that they are intellectually incapable of that conception."


	---
	.topic[Europe]

	## Unpolished

	>  He had a great relish for feminine beauty; he was addicted to observing and analyzing it; and as regards this young lady's face he made several observations. It was not at all insipid, but it was not exactly expressive; and though it was eminently delicate, Winterbourne mentally accused it—very forgivingly—of **a want of finish**. He thought it very possible that Master Randolph's sister was a coquette; he was sure she had a spirit of her own; but in her bright, sweet, superficial little visage there was no mockery, no irony.

	---
	.topic[Europe]

	## Insulting

	> He got up and stepped slowly toward the young girl, throwing away his cigarette. "This little boy and I have made acquaintance," he said, with great civility. In Geneva, as he had been perfectly aware, a young man was not at liberty to speak to a young unmarried lady except under certain rarely occurring conditions; but here at Vevey, what conditions could be better than these?—a pretty American girl coming and standing in front of you in a garden. This pretty American girl, however, on hearing Winterbourne's observation, simply glanced at him; she then turned her head and looked over the parapet, at the lake and the opposite mountains. He wondered whether he had gone too far, but he decided that he must advance farther, rather than retreat. 

	---
	.topic[Europe]

	## Society

	> "The only thing I don't like," she proceeded, "is the society. There isn't any society; or, if there is, I don't know where it keeps itself. Do you? I suppose there is some society somewhere, but I haven't seen anything of it."

	____

	> "They seem to have made several acquaintances, but the courier continues to be the most intime. The young lady, however, is also very intimate with some third-rate Italians, with whom she rackets about in a way that makes much talk."

	---
	.topic[Europe]

	## Gossips

	> "I know why you say that," said Daisy, watching Giovanelli. "Because you think I go round too much with HIM." And she nodded at her attendant.
	>
	>"Every one thinks so—if you care to know," said Winterbourne.
	>
	>"Of course I care to know!" Daisy exclaimed seriously. "But I don't believe it. They are only pretending to be shocked. They don't really care a straw what I do. Besides, I don't go round so much."
	>
	>"I think you will find they do care. They will show it disagreeably."

	---

	.topic[Study?]

	## Full Title

	.center[.daisy_miller_title[
	## _Daisy Miller: A Study_
	]]
	---
	.topic[Study?]

	## The American Type

	>Poor Winterbourne was amused, perplexed, and decidedly charmed. He had never yet heard a young girl express herself in just this fashion; never, at least, save in cases where to say such things seemed a kind of demonstrative evidence of a certain laxity of deportment. And yet was he to accuse Miss Daisy Miller of actual or potential inconduite, as they said at Geneva? He felt that he had lived at Geneva so long that he had lost a good deal; he had become dishabituated to the American tone. Never, indeed, since he had grown old enough to appreciate things, had he encountered a young American girl of so pronounced a type as this. Certainly she was very charming, but how deucedly sociable! Was she simply a pretty girl from New York State? Were they all like that, the pretty girls who had a good deal of gentlemen's society? Or was she also a designing, an audacious, an unscrupulous young person?
	---
	class:small
	.topic[Study?]

	## Wild

	> "She has that charming look that they all have," his aunt resumed. "I can't think where they pick it up; and she dresses in perfection—no, you don't know how well she dresses. I can't think where they get their taste."
	>
	>"But, my dear aunt, she is not, after all, a Comanche savage."
	>
	>"She is a young lady," said Mrs. Costello, "who has an intimacy with her mamma's courier."
	>
	>"An intimacy with the courier?" the young man demanded.
	>
	>"Oh, the mother is just as bad! They treat the courier like a familiar friend—like a gentleman. I shouldn't wonder if he dines with them. Very likely they have never seen a man with such good manners, such fine clothes, so like a gentleman. He probably corresponds to the young lady's idea of a count. He sits with them in the garden in the evening. I think he smokes."
	>
	>Winterbourne listened with interest to these disclosures; they helped him to make up his mind about Miss Daisy. **Evidently she was rather wild**.
	---
	.topic[Study?]

	## Exclusive

	> "I want to know her ever so much. I know just what YOUR aunt would be; I know I should like her. She would be very exclusive. I like a lady to be exclusive; I'm dying to be exclusive myself. Well, we ARE exclusive, mother and I. We don't speak to everyone—or they don't speak to us. I suppose it's about the same thing. Anyway, I shall be ever so glad to know your aunt."
	>
	> ...
	> 
	> "Gracious! she IS exclusive!" she said. Winterbourne wondered whether she was seriously wounded, and for a moment almost wished that her sense of injury might be such as to make it becoming in him to attempt to reassure and comfort her. He had a pleasant sense that she would be very approachable for consolatory purposes. He felt then, for the instant, quite ready to sacrifice his aunt, conversationally; to admit that she was a proud, rude woman, and to declare that they needn't mind her. But before he had time to commit himself to this perilous mixture of gallantry and impiety, the young lady, resuming her walk, gave an exclamation in quite another tone. "Well, here's Mother! I guess she hasn't got Randolph to go to bed." 
	---
	.topic[Study?]

	## Winterbourne's Motives

	> Winterbourne stood looking after them; he was indeed puzzled. He lingered beside the lake for a quarter of an hour, turning over the mystery of the young girl's sudden familiarities and caprices. But the only very definite conclusion he came to was that he should enjoy deucedly "going off" with her somewhere.

	---
	.topic[Study?]

	## Gossip

	> Mrs. Walker was flushed; she wore an excited air. "It is really too dreadful," she said. "That girl must not do this sort of thing. She must not walk here with you two men. Fifty people have noticed her."
	>
	>Winterbourne raised his eyebrows. "I think it's a pity to make too much fuss about it."
	>
	>"It's a pity to let the girl ruin herself!"
	>
	>"She is very innocent," said Winterbourne.
	>
	>"She's very crazy!"

	---

	.topic[Study?]
	## Winterbourne Reflects

	> Her behavior was not representative—was regarded by her compatriots as abnormal. Winterbourne wondered how she felt about all the cold shoulders that were turned toward her, and sometimes it annoyed him to suspect that she did not feel at all. He said to himself that she was too light and childish, too uncultivated and unreasoning, too provincial, to have reflected upon her ostracism, or even to have perceived it. Then at other moments he believed that she carried about in her elegant and irresponsible little organism a defiant, passionate, perfectly observant consciousness of the impression she produced. He asked himself whether Daisy's defiance came from the consciousness of innocence, or from her being, essentially, a young person of the reckless class. It must be admitted that holding one's self to a belief in Daisy's "innocence" came to seem to Winterbourne more and more a matter of fine-spun gallantry. As I have already had occasion to relate, he was angry at finding himself reduced to chopping logic about this young lady; he was vexed at his want of instinctive certitude as to how far her eccentricities were generic, national, and how far they were personal. From either view of them he had somehow missed her, and now it was too late. She was "carried away" by Mr. Giovanelli.

	---
	.topic[Study?]

	## Respect

	> Winterbourne stopped, with a sort of horror, and, it must be added, with a sort of relief. It was as if a sudden illumination had been flashed upon the ambiguity of Daisy's behavior, and the riddle had become easy to read. She was a young lady whom a gentleman need no longer be at pains to respect. He stood there, looking at her—looking at her companion and not reflecting that though he saw them vaguely, he himself must have been more brightly visible. He felt angry with himself that he had bothered so much about the right way of regarding Miss Daisy Miller. Then, as he was going to advance again, he checked himself, not from the fear that he was doing her injustice, but from a sense of the danger of appearing unbecomingly exhilarated by this sudden revulsion from cautious criticism.