.names {
  margin-top: 5rem;
  h1 {
      font-size: 6rem;
      line-height: 7.3rem;
    .small {
      font-size: 2rem;
      font-weight: normal;
    }
    .lato {
      margin-left: -30px;;
    }
    .ocrates {
      margin-left: -5px;
    }
  }
}

.dates {
  margin-top: -37px;
  p {
    font-size: 1.1rem;
  }
  .socrates {
    margin-left: 36px;
  }
  .plato {
    margin-left: 38px;
  }
  .aristotle {
    margin-left: 44px;
  }
  .alexander {
    margin-left: 88px;
  }
}
