---
title: ENG 337 - Day 14
---

:plain
	class: center, middle
	
	# Agenda
	.agenda[

	1. A Question
	1. Adventure
	1. Assimilation
	1. Nostalgia

	]

	---
	class: center, middle
	.topic[A Question]

	# What's This Book About?

	---
	.topic[Adventure]

	> I explained to Antonia how this meant that he was twenty-four years old, that he must have been there when white men first came, left on from buffalo and Indian times. As I turned him over, I began to feel proud of him, to have a kind of respect for his age and size. He seemed like the ancient, eldest Evil. Certainly his kind have left horrible unconscious memories in all warm-blooded life.
	>
	> — Book I, Chapter VII
	
	> That snake hung on our corral fence for several days; some of the neighbours came to see it and agreed that it was the biggest rattler ever killed in those parts. This was enough for Antonia. She liked me better from that time on, and she never took a supercilious air with me again. I had killed a big snake—I was now a big fellow.
	>
	> — Book I, Chapter VII
	---
	.topic[Adventure]

	> We did not tell Pavel's secret to anyone, but guarded it jealously—as if the wolves of the Ukraine had gathered that night long ago, and the wedding party been sacrificed, to give us a painful and peculiar pleasure. At night, before I went to sleep, I often found myself in a sledge drawn by three horses, dashing through a country that looked something like Nebraska and something like Virginia.
	>
	> — Book I, Chapter VIII
	---
	.topic[Adventure]

	> In the afternoons, when grandmother sat upstairs darning, or making husking-gloves, I read 'The Swiss Family Robinson' aloud to her, and I felt that the Swiss family had no advantages over us in the way of an adventurous life.
	>
	> — Book I, Chapter IX

	>  I got 'Robinson Crusoe' and tried to read, but his life on the island seemed dull compared with ours. 
	> 
	> — Book I, Chapter XIV

	> When we told them how we placed ourselves and the horses in the middle, they blamed us exceedingly, and told us it was fifty to one but we had been all destroyed, for it was the sight of the horses which made the wolves so furious, seeing their prey, and that at other times they are really afraid of a gun; but being excessively hungry, and raging on that account, the eagerness to come at the horses had made them senseless of danger, and that if we had not by the continual fire, and at last by the stratagem of the train of powder, mastered them, it had been great odds but that we had been torn to pieces; 
	>
	> — _Robinson Crusoe_, Chapter XX

	---
	.topic[Adventure]

	>  Jake and Jelinek went ahead on horseback to cut the body loose from the pool of blood in which it was frozen fast to the ground.
	>
	> — Book I, Chapter XVI

	> The Shimerdas were in their new log house by then. The neighbours had helped them to build it in March. It stood directly in front of their old cave, which they used as a cellar. The family were now fairly equipped to begin their struggle with the soil.
	>
	> — Book I, Chapter XVII
	---

	.topic[Assimilation]

	> 'They ain't the same, Jimmy,' he kept saying in a hurt tone. 'These foreigners ain't the same. You can't trust 'em to be fair. It's dirty to kick a feller. You heard how the women turned on you—and after all we went through on account of 'em last winter! They ain't to be trusted. I don't want to see you get too thick with any of 'em.'
	>
	> — Book I, Chapter XVIII

	---
	.topic[Assimilation]

	> He might have stepped out of the pages of 'Jesse James.' He wore a sombrero hat, with a wide leather band and a bright buckle, and the ends of his moustache were twisted up stiffly, like little horns. He looked lively and ferocious, I thought, and as if he had a history. A long scar ran across one cheek and drew the corner of his mouth up in a sinister curl. The top of his left ear was gone, and his skin was brown as an Indian's. Surely this was the face of a desperado.
	>
	> — Book I, Chapter I

	>  Fuchs told me everything I wanted to know: how he had lost his ear in a Wyoming blizzard when he was a stage-driver, and how to throw a lasso. He promised to rope a steer for me before sundown next day. He got out his 'chaps' and silver spurs to show them to Jake and me, and his best cowboy boots, with tops stitched in bold design—roses, and true-lover's knots, and undraped female figures. These, he solemnly explained, were angels.
	>
	> — Book I, Chapter II

	> Otto pretended not to be surprised at Antonia's behaviour. He only lifted his brows and said, 'You can't tell me anything new about a Czech; I'm an Austrian.'
	>
	> — Book I, Chapter XVIII

	---
	.topic[Assimilation]

	> He would write for a while, then sit idle, his clenched fist lying on the table, his eyes following the pattern of the oilcloth. He spoke and wrote his own language so seldom that it came to him awkwardly. His effort to remember entirely absorbed him.
	>
	> — Book I, Chapter XII

	> This feeling seemed completely to take possession of Mr. Shimerda. I suppose, in the crowded clutter of their cave, the old man had come to believe that peace and order had vanished from the earth, or existed only in the old world he had left so far behind.
	>
	> — Book I, Chapter XII

	---

	.topic[Assimilation]

	> When we reached the grave, it looked a very little spot in that snow-covered waste.
	>
	> — Book I, Chapter XVI

	> The thunder was loud and metallic, like the rattle of sheet iron, and the lightning broke in great zigzags across the heavens, making everything stand out and come close to us for a moment.
	>
	> — Book I, Chapter XIX

	---

	.topic[Assimilation]

	> There seemed to be nothing to see; no fences, no creeks or trees, no hills or fields. If there was a road, I could not make it out in the faint starlight. There was nothing but land: not a country at all, but the material out of which countries are made.
	>
	> — Book I, Chapter I

	---

	.topic[Nostalgia]

	> She was a spare, tall woman, a little stooped, and she was apt to carry her head thrust forward in an attitude of attention, as if she were looking at something, or listening to something, far away.
	>
	> — Book I, Chapter II

	> Mrs. Shimerda dropped the rope, ran after us, and, crouching down beside grandfather, she took his hand and kissed it. I doubt if he had ever been so much embarrassed before. I was a little startled, too. Somehow, that seemed to bring the Old World very close.
	>
	> — Book I, Chapter XVIII

	---

	.topic[Nostalgia]

	> I can see them now, exactly as they looked, working about the table in the lamplight: Jake with his heavy features, so rudely moulded that his face seemed, somehow, unfinished; Otto with his half-ear and the savage scar that made his upper lip curl so ferociously under his twisted moustache. As I remember them, what unprotected faces they were; their very roughness and violence made them defenceless. These boys had no practised manner behind which they could retreat and hold people at a distance. They had only their hard fists to batter at the world with. Otto was already one of those drifting, case-hardened labourers who never marry or have children of their own. Yet he was so fond of children!
	>
	> — Book I, Chapter XI
	---
	.topic[Nostalgia]

	> Years afterward, when the open-grazing days were over, and the red grass had been ploughed under and under until it had almost disappeared from the prairie; when all the fields were under fence, and the roads no longer ran about like wild things, but followed the surveyed section-lines, Mr. Shimerda's grave was still there, with a sagging wire fence around it, and an unpainted wooden cross. As grandfather had predicted, Mrs. Shimerda never saw the roads going over his head. The road from the north curved a little to the east just there, and the road from the west swung out a little to the south; so that the grave, with its tall red grass that was never mowed, was like a little island; and at twilight, under a new moon or the clear evening star, the dusty roads used to look like soft grey rivers flowing past it. I never came upon the place without emotion, and in all that country it was the spot most dear to me. I loved the dim superstition, the propitiatory intent, that had put the grave there; and still more I loved the spirit that could not carry out the sentence—the error from the surveyed lines, the clemency of the soft earth roads along which the home-coming wagons rattled after sunset. Never a tired driver passed the wooden cross, I am sure, without wishing well to the sleeper.
	>
	> — Book I, Chapter XVI
