---
title: ENG 337 - Day 1
layout: reveal
theme: simple
transition: zoom
---
:sass
	.reveal
		h1, h2, h3
			font-weight: bold
			margin:
				bottom: 0.3819em
		p,li,a.roll
			line-height: 1.618em
:javascript
	function email_address() {
		var encoded_address="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
		"=116){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
		"o.substr(0,ol);}f(\")16,\\\"XRZI}`<sg2:+;?500\\\\t$7#4!710\\\\sn720\\\\/400" +
		"\\\\h+/$)600\\\\b.420\\\\730\\\\U^UWy330\\\\dn\\\\P_EFY310\\\\310\\\\{HLB1u" +
		"xj{|cQxhymid9nn\\\\020\\\\320\\\\130\\\\330\\\\V.M010\\\\t\\\\030\\\\000\\\\"+
		"F500\\\\^Bv26=\\\"\\\\= '`8$-+1!/Z\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(" +
		"edoCrahCmorf.gnirtS=+o;721=%y;++y)16<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\"+
		"\"=o,i rav{)y,x(f noitcnuf\")"                                               ;
		while(encoded_address=eval(encoded_address));
	}
%section
	%h1 ENG 337
	%h2 Introduction & Class Overview
	%h3 Dr. Andrew Pilsch
	
	%aside.notes
		:markdown
			1. Welcome to ENG 337
				* Dr. Andrew Pilsch
				* Call Me Dr. Pilsch
	
%section
	%h1 Course Syllabus
	%h2 
		%strong http://atp1.us/eng337
	%p
		%img{ :src => "http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2Fatp1.us%2Feng337" }
	%aside.notes
		:markdown
			1. Course Syllabus
				* This has **all** the information you're responsible for.
				* (Give them time to open it).

%section
	%h2 Basic Information
	
	%p
		Email Address:
		:javascript
			var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
			"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
			" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
			"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
			"\"(2),9\\\"\\\\03\\\\07\\\\00\\\\\\\\\\\\r4\\\\03\\\\\\\\26\\\\0r\\\\\\\\\\" +
			"\\6S03\\\\\\\\14\\\\0B\\\\NA02\\\\0C\\\\ZINDeVFSEP~N? 9@$F{}|b3`M0`}#mhdeyw" +
			"arFqaofDa22\\\\00\\\\01\\\\\\\\27\\\\03\\\\02\\\\\\\\30\\\\05\\\\02\\\\\\\\" +
			"*U2H02\\\\\\\\26\\\\00\\\\00\\\\\\\\31\\\\0P\\\\16\\\\0R\\\\DO05\\\\06\\\\0" +
			"0\\\\\\\\14\\\\04\\\\03\\\\\\\\16\\\\04\\\\02\\\\\\\\22\\\\0J\\\\27\\\\04\\" +
			"\\01\\\\\\\\04\\\\0r\\\\\\\\\\\\=*82\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoa" +
			"rchx.e(odrChamCro.fngriSt+=;o27=1y%i;+=)y92==(iif){++;i<l;i=0(ior;fthnglex." +
			"l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                         ;
			while(x=eval(x));
			//-->
			//]]>
	%p
		%br
		Office Address / Hours: 
		%br
		%img{ :src => "https://dl.dropboxusercontent.com/u/28696035/office_location.png", :style => "margin: 0 auto; display: block" }/
		SANCA 233G / 9-12 T & Th

%section
	%h2 Course Overview
	%ol
		%li.fragment.highlight-blue The Great American Novel?
		%li.fragment.highlight-blue Lacking (Traditional|European) History
		%li.fragment.highlight-blue Enlightenment Nation / Enlightenment Form
	%aside.notes
		:markdown
			1. **The Great American**
				- Probably heard this before?
				- What do you think it means?
				- Can you think of some examples?
					- _Moby Dick_
					- _The Great Gatsby_
			2. **Lacking (Traditional|European) History**
				* Famous joke: England has houses older than our country.
				* But what does that mean? We don't have an appeal to an unbroken tradition tracing back to Rome or Greece or Vikings.
				* America is a nation cobbled together out of immigrants in an unfamiliar (to Europeans).
				* This, of course, denies / ignores the Native traditions in this country pre-colonization, but ...
				* ... that's sort of the point: while trying to write a universal myth of America, often very white, male oriented.
			3. **Enlightenment Nation / Enlightenment Form**
				* Despite all that baggage, America is also a nation created during and from Enlightenment principles
				* Enlightenment:
					* Democracy
					* B/c all humans are created equal with reason.
				* The novel, with it's focus on interiority enforces this idea.
				* Older literary forms (the epic, the play, parents reading _The Bible_ out loud at home) are all oral.
				* Novel is a silent form. Meant to transmit author's rationality to reader's rationality.
				* So, in a sense, novel is natural for America's myth-making.
%section
	%h2 Books

	:markdown
		1. _The Scarlet Letter_ by Nathaniel Hawthorne (1850)
		2. ["Bartleby the Scrivener" by Herman Melville (1853)](http://www.bartleby.com/129/)
		3. _The Adventures of Huckleberry Finn_ by Mark Twain (1885)
		4. _Daisy Miller_ by Henry James (1878)
		5. _The House of Mirth_ by Edith Wharton (1905)
		6. _My Ãntonia_ by Willa Cather (1918)
		7. [_The Great Gatsby_ by F. Scott Fitzgerald (1925)](http://www.amazon.com/Great-Gatsby-F-Scott-Fitzgerald/dp/0743273567/)
		8. [_Invisible Man_ by Ralph Ellison (1952)](http://www.amazon.com/Invisible-Man-Ralph-Ellison/dp/0679732764/)
		9. [_Blood Meridian_ by Cormac Mccarthy (1985)](http://www.amazon.com/Blood-Meridian-Evening-Redness-West/dp/0679728759/)
	%aside.notes
		:markdown
			* All texts at ASU bookstore (except text 2, which is a short story and we will be reading online).
			* However, first 6 texts are also available online.
				* Please use them or any used edition, if you like.
			* However, texts, 7,8, and 9 are not in the public domain. You must purchase the versions at the book store.


%section
	%h2 Course Policies:
	%h3 Late Work Policy
	%ul	
		%li.fragment.highlight-blue
			:markdown
				Late **assignments** are 5 points off for every day late.
		%li.fragment.highlight-blue
			:markdown
				A **90** paper that was turned in 2 days late will receive an **80**.
		%li.fragment.highlight-blue
			:markdown
				Ask Me **24 Hours** before due date for an extension.
	%aside.notes
		:markdown
			1. Late Assignments Are 5 Points Off Every Day Late
			2. A 90 Would Earn an 80 if 2 Days Late.
				* Weekend days count as days.
			3. Ask Me 24 Hours in Advance for an Extension.
				* I'm happy to grant them.
%section
	%h2 Course Policies:
	%h3 Attendance
	%ul
		%li.fragment.highlight-blue
			:markdown
				You are **required** to attend class everyday.
		%li.fragment.highlight-blue
			:markdown
				 Medical, family, religious, or school-sanctioned absences can be **excused** but only with **documentation**.

	%aside.notes
		:markdown
			1. You are required to attend class.
				* If you are absent, you need to get notes from someone else in class.
			2. Excuse policy:
				* I need some proof of why you were absent (note from parent, note from doctor, etc.)
				* Please **try** to contact me **before** your absence
%section
	%h2 Course Policies:
	%h3 Paper Formatting
	
	%ol
		%li.fragment.highlight-blue
			12pt. Times New Roman, 1" margins.
			%strong NO CALIBRI.
		%li.fragment.highlight-blue Double-spaced.
		%li.fragment.highlight-blue .DOCX or .PDF format.
		%li.fragment.highlight-blue
			Headers
			%strong do not
			count toward length.
		
		%li.fragment.highlight-blue
			%strong Anything else will receive a 0 (including corrupted files).
%section
	%h2 Course Policies:
	%h3 Email Professionalism
	
	%ul
		%li.fragment.highlight-blue Emails should include salutations, sign-offs, and signature. 
		%li.fragment.highlight-blue Use complete sentences. Do not use all caps.
		%li.fragment.highlight-blue No text speak. K? ;)
		%li.fragment.highlight-blue Make sure to proofread your emails.
		%li.fragment.highlight-blue Avoid aggressive or whiny language.
		%li.fragment.highlight-blue No one-liners.
	
	%aside.notes
		:markdown
			1. Elements
				* Salutations: (such as "Good Morning," "Hello," or "Dear Dr. Pilsch")
				* Sign-Off: (such as "Sincerely" or "Yours faithfully")
				* Signature Line: (Your Name).
			1.
			1.  by spelling out all words and eschewing abbreviations
			1. 
			1. One-line emails are typically signs that you are not explaining yourself or are being impolite. one-line emails are only appropriate if we have been exchanging many emails about one specific topic and have reached the end of our correspondence about that topic. Above all, remember that politeness is the best way to get what you want from anyone.
			
			Two other things to note:
			
			* Computer problems don't count as an excuse for late work. 
			* Do communicate if you have any health emergencies as soon as they happen.
%section
	%h2 Assignments

	%h3 Grade Value
	%ol
		%li.fragment.highlight-blue Daily Quote Identification (20%)
		%li.fragment.highlight-blue Thematic Presentation (15%)
		%span.fragment.highlight-blue
			%li Assignment #1 (15%)
			%li Assignment #2 (20%)
			%li Assignment #3 (20%)
		%li Daily Attendance (10%)
	%aside.notes
		:markdown
		
			1. Before class, post to:
				1. Blackboard a quote.
				1. the chapter / book information or page number for the quote
				1. 2-3 well-developed (at least 3 sentence; 300 words) paragraphs why quote is:
					* important to the larger themes of the novel we are reading
					* interesting stylistically
			1. Thematic Presentation
				1. Circulate a sheet next week.
				1. Topics will be related to historical context of the novel.
				1. Must include images.
				1. Explain how theme or event relates to book **and** what it was.
				1. You may not make up a presentation without prior approval (extension policy).
			1. Assignments: We're looking at three ways of analyzing texts:
				1. Traditional style.
				1. Computerized analysis (it won't be hard).
				1. Mapping
				1. We'll talk more about these when we get closer.
%section
	%h2 Course Schedule
	
	%p
		%a{:href => "http://andrew.pilsch.com/courses/eng337fall2013/dates.html", :target=>"_blank" } Click Here
%section
	%h2 Get Started!
	
	:markdown
		_The Scarlet Letter_ "The Customs House" & Chapters 1-7
		
		For Tuesday
%section
	%h1 Questions?
	
	%p Also, email.
	%p Or office hours (9-12, T & Th in SANCA 233 G)