---
title: ENG 337 - Day 7
---

:plain
	class: center, middle
	
	# Agenda
	.agenda[
	
	1. Presentation Schedule
	1. A Question
			
	]
	
	---
	class: center,middle
	
	.topic[Presentation Schedule]
	# Presentation Schedule Is Online
	
	---
	
	class: center,middle
	.topic[A Question]
	# Is This Book Racist?
	
	## (and What Does That Mean?)