---
title: ENG 337 - Day 9
---

:plain
	class: center, middle
	
	# Agenda
	.agenda[

	1. A Question
	1. Southern Romantics
	1. Neverending
	1. Jim's Fate
	1. Consequences?

	]
	
	---
	class: center, middle
	.topic[A Question]

	# Isn't The Ending Awful?

	---
	.topic[Southern Romantics]

	## Romanticism

	> Then comes Sir Walter Scott with his enchantments, and by his single might checks this wave of progress, and even turns it back; sets the world in love with dreams and phantoms; with decayed and swinish forms of religion; with decayed and degraded systems of government; with the sillinesses and emptinesses, sham grandeurs, sham gauds, and sham chivalries of a brainless and worthless long-vanished society. He did measureless harm; more real and lasting harm, perhaps, than any other individual that ever wrote. Most of the world has now outlived good part of these harms, though by no means all of them; but in our South they flourish pretty forcefully still. Not so forcefully as half a generation ago, perhaps, but still forcefully. 
	>
	> — _Life on the Mississippi_, Ch. 46

	---
	.topic[Southern Romantics]

	## Romanticism, cont.

	> There, the genuine and wholesome civilization of the nineteenth century is curiously confused and commingled with the Walter Scott Middle-Age sham civilization; and so you have practical, common-sense, progressive ideas, and progressive works; mixed up with the duel, the inflated speech, and the jejune romanticism of an absurd past that is dead, and out of charity ought to be buried. But for the Sir Walter disease, the character of the Southerner—or Southron, according to Sir Walter's starchier way of phrasing it—would be wholly modern, in place of modern and medieval mixed, and the South would be fully a generation further advanced than it is. It was Sir Walter that made every gentleman in the South a Major or a Colonel, or a General or a Judge, before the war; and it was he, also, that made these gentlemen value these bogus decorations. For it was he that created rank and caste down there, and also reverence for rank and caste, and pride and pleasure in them. Enough is laid on slavery, without fathering upon it these creations and contributions of Sir Walter.
	>
	> — _Life on the Mississippi_, Ch. 46

	---
	.topic[Southern Romantics]

	## Romanticism, cont.

	> Sir Walter had so large a hand in making Southern character, as it existed before the war, that he is in great measure responsible for the war. It seems a little harsh toward a dead man to say that we never should have had any war but for Sir Walter; and yet something of a plausible argument might, perhaps, be made in support of that wild proposition. The Southerner of the American Revolution owned slaves; so did the Southerner of the Civil War: but the former resembles the latter as an Englishman resembles a Frenchman. The change of character can be traced rather more easily to Sir Walter's influence than to that of any other thing or person.
	>
	> — _Life on the Mississippi_, Ch. 46

	---
	.topic[Southern Romantics]

	## Walter Scott

	> "Why, pap and mam and sis and Miss Hooker; and if you'd take your ferryboat and go up there—"
	>
	>"Up where?  Where are they?"
	>
	>"On the wreck."
	>
	>"What wreck?"
	>
	>"Why, there ain't but one."
	>
	>"What, you don't mean the _Walter Scott_?"
	>
	>"Yes."
	>
	>"**Good land! what are they doin' there, for gracious sakes?**"
	>
	> — Chapter 13

	---
	.topic[Southern Romantics]

	## Why, Indeed?

	> "Then what on earth did _you_ want to set him free for, seeing he was already free?"
	>
	> "Well, that _is_ a question, I must say; and just like women!  **Why, I wanted the _adventure_ of it**; and I'd a waded neck-deep in blood to—"
	>
	> — Chapter 42
	---

	.topic[Neverending]
	## The End?

	> Tom's most well now, and got his bullet around his neck on a watch-guard for a watch, and is always seeing what time it is, and so there ain't nothing more to write about, and I am rotten glad of it, because if I'd a knowed what a trouble it was to make a book I wouldn't a tackled it, and ain't a-going to no more.  But I reckon I got to light out for the Territory ahead of the rest, because Aunt Sally she's going to adopt me and sivilize me, and I can't stand it.  I been there before.
	>
	> — Chapter The Last

	---
	.topic[Neverending]
	## The End?, cont.

	> Readers sometimes deplore the fact that the story descends to the level of Tom Sawyer from the moment that Tom himself re-appears. Such readers protest that the escapades invented by Tom, in the attempted “rescue” of Jim, are only a tedious development of themes with which we were already too familiar—even while admitting that the escapades themselves are very amusing, and some of the incidental observations memorable. But it is right that the mood of the end of the book should bring us back to that of the beginning. Or, if this was not the right ending for the book, what ending would have been right?
	> 
	> — T.S. Eliot, "Introduction to _Huck Finn_" (1950)

	---
	.topic[Neverending]
	## The End?, cont.

	> Like Huckleberry Finn, the River itself has no beginning or end. In its beginning, it is not yet the River; in its end, it is no longer the River. What we call its headwaters is only a selection from among the innumerable sources which flow together to compose it. At what point in its course does the Mississippi become what the Mississippi means? It is both one and many; it is the Mississippi of this book only after its union with the Big Muddy— the Missouri; it derives some of its character from the Ohio, the Tennessee and other confluents. And at the end it merely disappears among its deltas: it is no longer there, but it is still where it was, hundreds of miles to the North. The River cannot tolerate any design, to a story which is its story, that might interfere with its dominance. Things must merely happen, here and there, to the people who live along its shores or who commit themselves to its current. And it is as impossible for Huck as for the River to have a beginning or end—a career. So the book has the right, the only possible concluding sentence. I do not think that any book ever written ends more certainly with the right word
	>
	> — T.S. Eliot, "Introduction to _Huck Finn_" (1950)

	---
	.topic[Jim's Fate]
	## Inside

	> "Well, den, dis is de way it look to me, Huck.  Ef it wuz _him_ dat 'uz bein' sot free, en one er de boys wuz to git shot, would he say, 'Go on en save me, nemmine 'bout a doctor f'r to save dis one?'  Is dat like Mars Tom Sawyer?  Would he say dat?  You _bet_ he wouldn't!  _well_, den, is Jim gywne to say it?  No, sah—I doan' budge a step out'n dis place 'dout a _doctor_, not if it's forty year!"
	>
	> **I knowed he was white inside**, and I reckoned he'd say what he did say—so it was all right now, and I told Tom I was a-going for a doctor.
	>
	> — Chapter 40

	---

	.topic[Jim's Fate]
	## Good Man?

	> Then the others softened up a little, too, and I was mighty thankful to that old doctor for doing Jim that good turn; and I was glad it was according to my judgment of him, too; because I thought he had a good heart in him and **was a good man the first time I see him**.  Then they all agreed that Jim had acted very well, and was deserving to have some notice took of it, and reward.  So every one of them promised, right out and hearty, that they wouldn't cuss him no more.
	>
	> **Then they come out and locked him up**.
	>
	> — Chapter 42

	---

	.topic[Jim's Fate]

	## One of the Family?

	> We had Jim out of the chains in no time, and when Aunt Polly and Uncle Silas and Aunt Sally found out how good he helped the doctor nurse Tom, they made a heap of fuss over him, and fixed him up prime, and give him all he wanted to eat, and a good time, and nothing to do.  And we had him up to the sick-room, and had a high talk; and Tom give Jim forty dollars for being prisoner for us so patient, and doing it up so good, and Jim was pleased most to death ...
	>
	> — Chapter the Last

	---
	.topic[Consequences?]

	> So she went away as I opened the door and walked into the setting-room. My, but there was a crowd there!  Fifteen farmers, and every one of them had a gun.  I was most powerful sick, and slunk to a chair and set down. They was setting around, some of them talking a little, in a low voice, and all of them fidgety and uneasy, but trying to look like they warn't; but I knowed they was, because they was always taking off their hats, and putting them on, and scratching their heads, and changing their seats, and fumbling with their buttons.  I warn't easy myself, but I didn't take my hat off, all the same.
	>
	> — Chapter 40

	---

	.topic[Consequences?]

	## _Sperits_

	> "People to _help_ him, Brother Marples!  Well, I reckon you'd _think_ so if you'd a been in this house for a while back.  Why, they've stole everything they could lay their hands on—and we a-watching all the time, mind you. They stole that shirt right off o' the line! and as for that sheet they made the rag ladder out of, ther' ain't no telling how many times they _didn't_ steal that; and flour, and candles, and candlesticks, and spoons, and the old warming-pan, and most a thousand things that I disremember now, and my new calico dress; and me and Silas and my Sid and Tom on the constant watch day _and_ night, as I was a-telling you, and not a one of us could catch hide nor hair nor sight nor sound of them; and here at the last minute, lo and behold you, they slides right in under our noses and fools us, and not only fools us but the Injun Territory robbers too, and actuly gets away with that nigger safe and sound, and that with sixteen men and twenty-two dogs right on their very heels at that very time!  I tell you, it just bangs anything I ever _heard_ of. Why, _sperits_ couldn't a done better and been no smarter. And I reckon they must a been sperits—because, you know our dogs, and ther' ain't no better; well, them dogs never even got on the track of 'm once!  You explain _that_ to me if you can!—_any_ of you!"
	>
	> — Chapter 41

	---
	.topic[Consequences?]

	## Aunt Sally

	> "Well, I never heard the likes of it in all my born days!  So it was you, you little rapscallions, that's been making all this trouble, and turned everybody's wits clean inside out and scared us all most to death.  I've as good a notion as ever I had in my life to take it out o' you this very minute.  To think, here I've been, night after night, a—you just get well once, you young scamp, and I lay I'll tan the Old Harry out o' both o' ye!"
	>
	> — Chapter 42