@import "bourbon";
@import "remark/grid";

.remark-slide-content {
	@include grid;
}

.place {
	img {
		width: 350px;
	}

	.left-column {
		grid-column-end: span 4;
	}

	.right-column {
		grid-column-end: span 8;


		text-align: center;
	}
}

.ardois {
	img {
		width: 75%;
		display: block;
		margin: 0 auto;
	}
}
