@import "bourbon";
@import "remark/grid";

.remark-slide-content {
	@include grid;
}

.image {
	img {
		display: block;
		margin: 0 auto;
		width: 95%;
	}
}

.wallacestevens {
	img {
		width: 58% !important;
	}
}

.ezrapound {
	img {
		width: 45% !important;
	}
}

.plums, .barrow {
	h2 {
		text-align: center;
	}

	blockquote {
		grid-column-end: span 4;

		grid-column-start: span 4;
	}
}

.reply {
	h2 {
		text-align: center;
	}

	blockquote {
		grid-column-end: span 6;

		grid-column-start: span 3;
		// @import "neat";

		font-size: 0.95em;

		p:first-child {
			margin-top: 0;
			text-align: center;
		}

		p {
			margin-top: 0.95em;
			line-height: 1.15rem;
		}
	}
}
