@import "bourbon";
@import "remark/grid";

.remark-slide-content {
	@include grid;
}

.activity {
	ul, ol {
		li {
			line-height: 1.5;
		}
	}

	.left-column {
		grid-column-end: span 4;
	}

	.right-column {
		grid-column-end: span 8;

		margin: {
			top: 0;
		};
		padding: {
			top: 0;
		};
	}
}

.credo {
	p {
		margin: {
			left: 0.5in;
			bottom: 0;
			top: 0;
		};
		text: {
			indent: -0.5in;
		};
	}
}
