@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

html {
	font-family: "Lato", "Helvetica", sans-serif;
	font-weight: 300;
	strong, b {
		font-weight: 400;
		color: black;
	}
}

p, ul li, ol li {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica", sans-serif;
	font-weight: 400;
	line-height: 1;
}


.single-space {
	margin-top: 1rem;
	& > * {
		margin-top: 0;
	}
}

.nexus-title {
	h1 {
		line-height: 1.15;
	}
}

.phantom {
	color: white !important;
}

.big {
	p, ul li, ol li, td, th {
		font-size: 1.43rem;
		line-height: 2rem;
	}
}

.bigger{
	p, ul li, ol li {
		font-size: 2.15rem;
		line-height: 1.35;
	}
}

.center {
	ol, ul {
		list-style: none;
	}
}

.nexus-title, .intertitle {
	h1 {
		font-size: 4rem;
	}
}

table {
	width: 75%;
}

.center {
	table {
		margin: auto;
	}
}

.remark-slide-content {
	& > .title-block {
		margin-top: 0;
	}
}