.reveal {
	blockquote {
		width: 90%;
		text-align: left;
		font-style: normal;
	}
	.left {
		text-align: left;
	}
	p.big {
		font-size: 2.5em;
	}
	p.bigger {
		font-size: 3.5em;
	}
	p.question {
		font-size: 2em;
	}
	#facebook {
		width: 500px;
		border: 0 !important;
		box-shadow: none !important;
	}
}

#telecommunication {
	font-size: 0.875em;
}
