.reveal blockquote {
  width: 90%;
  text-align: left;
  font-style: normal; }
.reveal .left {
  text-align: left; }
.reveal p.big {
  font-size: 2.5em; }
.reveal p.bigger {
  font-size: 3.5em; }
.reveal p.question {
  font-size: 2em; }
.reveal #facebook {
  width: 500px;
  border: 0 !important;
  box-shadow: none !important; }

#telecommunication {
  font-size: 0.875em; }
