$times: "Times New Roman", Times, serif;

$body-font: "Open Sans", $helvetica;
$body-font-weight: 400;
$body-font-strong-weight: 700;
$header-font: "Open Sans", $helvetica;
$header-font-weight: 600;
$header-font-soft-weight: 400;
$code-font: "Fira Code"; //Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

@media all and (max-width: 30em) {
	body {
		font: {
			size: 16px !important;
		};
	}
}

html {
	font: {
		family: $body-font;
		weight: $body-font-weight;
	};

	strong {
		font: {
			weight: $body-font-strong-weight;
		};
	}
}

h1, h2, h3, h4, h5 {
	font: {
		family: $header-font;
		weight: $header-font-weight;
	};

	.soft {
		font: {
			weight: $header-font-soft-weight;
		};
	}
}

.remark-code, .remark-inline-code { font-family: $code-font; }
