// ASU Primary Colors:
$asu-black: #000000;
$asu-red: #990033;
$asu-gold: #ffb310;
$asu-white: #FFFFFF;

// ASU Neutral Colors:
$asu-grey: #4f5557;
$asu-beige: #AFA593;

// ASU Secondary Colors:
$asu-blue: #008ed6;
$asu-green: #568E14;
$asu-orange: #F47C00;