@mixin grid {
	display: grid;
	overflow: hidden;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	& > * {
		grid-column-end: span 12;
		grid-row: span 1;
	}
	&.middle {
		// align-items: center;
		// justify-items: center;
	}
}
