$baseFontSize: 24;
$baseLineHeight: 1.5;
$leading: $baseLineHeight * 1rem;
$emLeading: $baseLineHeight * 1em;
$scale: 1.44;

@import "hj2libraries";
@import "bourbon";
@import "neat";
@import "libraries/sass-colors";

@import "http://cloud.webtype.com/css/e115d7e0-5ab8-48c5-b4bb-a7605ef90ab3.css";

html {
	font-family: WilliamsCaslonText, $font-stack-georgia;
}

h1, h2, h3, h4, h5, h6 {
	font-family: WilliamsCaslonText, $font-stack-georgia;
	font-weight: 700;
	line-height: 0.9em;
}

h1 {
	line-height: 3 * $leading;
}

h2 {
	line-height: 2 * $leading;
}

ul {
	list-style: {
		type: none !important;
		position: inside;
	};

	ul {
		margin-left: 0;
	}

	li {
		position: relative;
		margin: 0 0 0px 1.15em;
		padding: 4px 3px;

		&:last-child {
			padding: 0 3px;
		}

		&:before {
			position: absolute;
			top: 0px;
			left: -1.5em;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin-right: 3px;
			padding: 4px;
			width: 1em;
			text-align: right;
			content: "❧";
			font-size: 0.75em;
			padding: {
				right: 5px;
			};
		}
	}
}

table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;

	th, td {
		border-bottom: 1px solid $black;
		padding: 0.2em 0.5em 0.2em 0;
	}
}

.small {
	li, p, td, th {
		font-size: 1.75rem;
	}
}

.resources {
	li, p, td, th {
		font-size: 1.95rem;
	}
}
