@import sass-colors/sass-colors
@import bourbon/bourbon
@import neat/neat
@import fonts

$accent_color: $resolution_blue
$link_color: tint(adjust-hue($accent_color, 180deg), 15%)


.agenda
	font:
		family: $header-font
		weight: $header-font-weight
.topic
	font:
		family: $header-font
		weight: $header-font-weight

body
	line:
		height: 1.33em

h1, h2, h3
	line-height: 1.33em


strong
	color:  $accent_color

.small
	img
		width: 300px
