@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700) all and (min-width: 33.236em)

$times: "Times New Roman", Times, serif

$body-font: "Open Sans", $helvetica
$body-font-weight: 400
$body-font-strong-weight: 700
$header-font: "Open Sans", $helvetica
$header-font-weight: 600
$header-font-soft-weight: 400