---
title: ENG 337 - Day 13
---

:plain
	class: center, middle
	
	# Agenda
	.agenda[

	1. A Question
	1. Readers
	1. 2nd Question
	1. The End

	]

	---
	class: center, middle
	.topic[A Question]

	# Who Would Have Read This?

	---
	.topic[Readers]
	## The Bry's Triumph

	>The dinner, meanwhile, was moving to its triumphant close, to the evident satisfaction of Mrs. Bry, who, throned in apoplectic majesty between Lord Skiddaw and Lord Hubert, seemed in spirit to be calling on Mrs. Fisher to witness her achievement. Short of Mrs. Fisher her audience might have been called complete; for the restaurant was crowded with persons mainly gathered there for the purpose of spectatorship, and accurately posted as to the names and faces of the celebrities they had come to see.
	>
	> — Book II, Chapter III

	---
	.topic[Readers]

	## In Novels
	
	>Yes; that's what I do mean," he answered resolutely. "I won't go into what's happened. I don't believe the stories about you—I don't WANT to believe them. But they're there, and my not believing them ain't going to alter the situation."
	>
	> She flushed to her temples, but the extremity of her need checked the retort on her lip and she continued to face him composedly. "If they are not true," she said, "doesn't THAT alter the situation?"
	>
	>He met this with a steady gaze of his small stock-taking eyes, which made her feel herself no more than some superfine human merchandise. "I believe it does in novels; but I'm certain it don't in real life."
	>
	> — Book II, Chapter VII
	---
	.topic[Readers]

	## Sunday Supplements

	> It was he who had selected the horses with which she had taken the blue ribbon at the Show, had introduced her to the photographer whose portraits of her formed the recurring ornament of "Sunday Supplements," and had got together the group which constituted her social world.
	>
	> — Book II, Chapter IX
	---
	.topic[Readers]

	## Curiousity and Contemptuous Freedom

	> It was the strangest part of Lily's strange experience, the hearing of these names, the seeing the fragmentary and distorted image of the world she had lived in reflected in the mirror of the working-girls' minds. She had never before suspected the mixture of insatiable curiosity and contemptuous freedom with which she and her kind were discussed in this underworld of toilers who lived on their vanity and self-indulgence.
	>
	> — Book II, Chapter X
	---
	class: center, middle
	.topic[A 2nd Question]
	# What's the "word which made all clear"?

	---
	.topic[A 2nd Question]

	## Absorption

	> But he began with a pretence of questioning her about herself, and as she replied, she saw that, for the first time, a faint realization of her plight penetrated the dense surface of his self-absorption.
	>
	> — Book II, Chapter VI

	> The tinge of constraint was beginning to be more distinctly perceptible under the friendly ease of his manner. Her self-absorption had not allowed her to perceive it at first; but now that her consciousness was once more putting forth its eager feelers, she saw that her presence was becoming an embarrassment to him.
	>
	> — Book II, Chapter XII

	> Selden ran eagerly up the steps and pulled the bell; and even in his state of self-absorption it came as a sharp surprise to him that the door should open so promptly.
	>
	> — Book II, Chapter XIV

	---
	.topic[The End]

	## Despising

	> Thats Lily all over, you know: she works like a slave preparing the ground and sowing her seed; but the day she ought to be reaping the harvest she oversleeps herself or goes off on a picnic. Mrs. Fisher paused and looked reflectively at the deep shimmer of sea between the cactus-flowers. Sometimes, she added, I think its just flightiness- and sometimes I thinks its because, at heart, she despises the things she's trying for.
	>
	> — Book II, Chapter I

	---
	.topic[The End]

	## Anti-Domestic

	> She greatly preferred the brilliant and unreliable Lily, who did not know one end of a crochet-needle from the other, and had frequently wounded her susceptibilities by suggesting that the drawing-room should be "done over." But when it came to hunting for missing napkins, or helping to decide whether the backstairs needed re-carpeting, Grace's judgment was certainly sounder than Lily's: not to mention the fact that the latter resented the smell of beeswax and brown soap, and behaved as though she thought a house ought to keep clean of itself, without extraneous assistance.
	>
	> — Book I, Chapter IX

	---
	.topic[The End]

	## Does Not Soften

	> Rosedale in the paternal role was hardly a figure to soften Lily; yet she could not but notice a quality of homely goodness in his advances to the child. They were not, at any rate, the premeditated and perfunctory endearments of the guest under his hostess's eye, for he and the little girl had the room to themselves; and something in his attitude made him seem a simple and kindly being compared to the small critical creature who endured his homage. Yes, he would be kind—Lily, from the threshold, had time to feel—kind in his gross, unscrupulous, rapacious way, the way of the predatory creature with his mate. She had but a moment in which to consider whether this glimpse of the fireside man mitigated her repugnance, or gave it, rather, a more concrete and intimate form; for at sight of her he was immediately on his feet again, the florid and dominant Rosedale of Mattie Gormer's drawing-room.
	>
	> — Book II, Chapter VI

	---
	.topic[The End]

	## The Baby

	> The baby, feeling herself detached from her habitual anchorage, made an instinctive motion of resistance; but the soothing influences of digestion prevailed, and Lily felt the soft weight sink trustfully against her breast. The child's confidence in its safety thrilled her with a sense of warmth and returning life, and she bent over, wondering at the rosy blur of the little face, the empty clearness of the eyes, the vague tendrilly motions of the folding and unfolding fingers. At first the burden in her arms seemed as light as a pink cloud or a heap of down, but as she continued to hold it the weight increased, sinking deeper, and penetrating her with a strange sense of weakness, as though the child entered into her and became a part of herself.
	>
	> — Book II, Chapter XIII
	---
	.topic[The End]

	## Blind Motions of Her Mating-Instinct

	> Such a vision of the solidarity of life had never before come to Lily. She had had a premonition of it in the blind motions of her mating-instinct; but they had been checked by the disintegrating influences of the life about her. All the men and women she knew were like atoms whirling away from each other in some wild centrifugal dance: her first glimpse of the continuity of life had come to her that evening in Nettie Struther's kitchen.
	>
	> — Book II, Chapter XIII