---
title: ENG 337 - Day 27
---

:plain
	class: center, middle

	# Agenda
	
	.agenda[
	
	1. A Question
	1. Desert
	1. Money (Of course)
	1. War
	1. The Dance
	1. Epilogue
	
	]
	
	---
	class: middle, center
	.topic[A Question]
	
	# Are We Clear On What Happens At the End?
	
	---
	class:middle
	.topic[Desert]
	
	> … In that Empire, the Art of Cartography attained such Perfection that the map of a  single Province occupied the entirety of a City, and the map of the Empire, the entirety  of a Province. In time, those Unconscionable Maps no longer satisfied, and the  Cartographers Guilds struck a Map of the Empire whose size was that of the Empire, and  which coincided point for point with it. The following Generations, who were not so  fond of the Study of Cartography as their Forebears had been, saw that that vast Map  was Useless, and not without some Pitilessness was it, that they delivered it up to the  Inclemencies of Sun and Winters. In the Deserts of the West, still today, there are  Tattered Ruins of that Map, inhabited by Animals and Beggars; in all the Land there is  no other Relic of the Disciplines of Geography.
	>
	> — Suarez Miranda,_Viajes de varones prudentes_, Libro IV,Cap. XLV, Lerida, 1658 
	>
	> &nbsp;
	>
	> **Actually:** Jorge Luis Borges, "On Exactitude in Science"
	---
	class:middle
	.topic[Desert]
	
	> If once we were able to view the Borges fable in which the cartographers of the Empire draw up a map so detailed that it ends up covering the territory exactly (the decline of the Empire witnesses the fraying of this map, little by little, and its fall into ruins, though some shreds are still discernible in the deserts—the metaphysical beauty of this ruined abstraction testifying to a pride equal to the Empire and rotting like a carcass, returning to the substance of the soil, a bit as the double ends by being confused with the real through aging)—as the most beautiful allegory of simulation, this fable has now come full circle for us, and possesses nothing but the discrete charm of second-order simulacra.
	>
	> Today abstraction is no longer that of the map, the double, the mirror, or the concept. Simulation is no longer that of a territory, a referential being, or a substance. It is the generation by models of the real without origin or reality: a hyperreal. The territory no longer precedes the map, nor does it survive it. It is nevertheless the map that precedes the territory—_precision of simulcra_—that engenders the territory, and if one must return to the fable, today it is the territory whose shreds slowly rot across the extent of the map. It is the real, and not the map, whose vestiges persist here and there in the deserts that are no longer those of the Empire, but ours. _The desert of the real itself_.
	>
	> — Jean Baudrillard, "The Precession of the Simulacra"
	---
	class: center, middle, buffalo
	.topic[Desert]
	
	![Buffalo Skulls](http://classconnection.s3.amazonaws.com/847/flashcards/497847/jpg/image028.jpg)
	
	---
	class: big, middle
	## 19<sup>th</sup> Century Buffalo Hunting
	
	* Reduced Herd Population of 60,000,000 to under 1,000 in the span of 10 years.
	* Market Hunting
		* Systematic Hunting, Organized Like a Factory
		* "the animals by  the thousands and tens of thousands and the hides pegged out over actual square miles of ground and the teams of skinners spelling one another around the clock" (316).
	---
	class:middle
	.topic[Desert]
	> When he came upon the bonepickers he'd been riding three days in a country he'd never seen. The plains were sere and burntlooking and the small trees black and misshapen and haunted by ravens and everywhere the ragged packs of jackal wolves and the crazed and sunchalked bones of the vanished herds. He dismounted and led the horse. Here and there within the arc of ribs a few flat discs of darkened lead like old medallions of some order of the hunt. In the distance teams of oxen bore along slowly and the heavy wagons creaked dryly. Into these barrows the pickers tossed the bones, kicking down the calcined architecture, breaking apart the great frames with axes. The bones clattered in the wagons, they plowed on in a pale dust. He watched them pass, ragged, filthy, the oxen galled and mad-looking. None spoke to him. In the distance he could see a train of wagons moving off to the northeast with great tottering loads of bones and further to the north other teams of pickers at their work.
	>
	> — Chapter XXIII
	
	---
	class:middle
	.topic[Money]
	
	> In his delirium he ransacked the linens of his pallet for arms but there were none. The judge smiled. The fool was no longer there but another man and this other man he could never see in his entirety but he seemed an artisan and a worker in metal. The judge enshadowed him where he crouched at his trade but he was a coldforger who worked with hammer and die, perhaps under some indictment and an exile from men's fires, hammering out like his own conjectural destiny all through the night of his becoming some coinage for a dawn that would not be. It is this false moneyer with his gravers and burins who seeks favor with the judge and he is at contriving from cold slag brute in the crucible a face that will pass, an image that will render this residual specie current in the markets where men barter. Of this is the judge judge and the night does not end.
	>
	> — Chapter XII
	---
	class:middle
	.topic[Money]
	
	> Pick a man, any man. That man there. See him. That man hatless. You know his opinion of the world. You can read it in his face, in his stance. Yet his complaint that a man's life is no bargain masks the actual case with him. Which is that men will not do as he wishes them to. Have never done, never will do. That's the way of things with him and his life is so balked about by difficulty and become so altered of its intended architecture that he is little more than a walking hovel hardly fit to house the human spirit at all. Can he say, such a man, that there is no malign thing set against him? That there is no power and no force and no cause? What manner of heretic could doubt agency and claimant alike? Can he believe that the wreckage of his existence is unentailed? No liens, no creditors? That gods of vengeance and of compassion alike lie sleeping in their crypt and whether our cries are for an accounting or for the destruction of the ledgers altogether they must evoke only the same silence and that it is this silence which will prevail? To whom is he talking, man? Cant you see him?
	>
	> — Chapter XXIII
	---
	class:middle
	.topic[War]
	
	>It makes no difference what men think of war, said the judge. War endures. As well ask men what they think of stone. War was always here. Before man was, war waited for him. The ultimate trade awaiting its ultimate practitioner. That is the way it was and will be. That way and not some other way.

	> He turned to Brown, from whom he'd heard some whispered slur or demurrer. Ah Davy, he said. It's your own trade we honor here. Why not rather take a small bow. Let each ac­knowledge each.

	> My trade?

	> Certainly.

	> What is my trade?

	> War. War is your trade. Is it not?

	> And it aint yours?

	> Mine too. Very much so.

	> What about all them notebooks and bones and stuff?

	> All other trades are contained in that of war.
	>
	> — Chapter XVII
	---
	class:middle
	.topic[War]
	
	>Moral law is an invention of mankind for the disenfranchise-ment of the powerful in favor of the weak. Historical law sub­verts it at every turn. A moral view can never be proven right or wrong by any ultimate test. A man falling dead in a duel is not thought thereby to be proven in error as to his views. His very involvement in such a trial gives evidence of a new and broader view. The willingness of the principals to forgo further argument as the triviality which it in fact is and to petition directly the chambers of the historical absolute clearly indicates of how little moment are the opinions and of what great moment the divergences thereof. For the argument is indeed trivial, but not so the separate wills thereby made manifest. Man's vanity may well approach the infinite in capacity but his knowledge remains imperfect and howevermuch he comes to value his judgements ultimately he must submit them before a higher court. Here there can be no special pleading. Here are con­siderations of equity and rectitude and moral right rendered void and without warrant and here are the views of the litigants despised. Decisions of life and death, of what shall be and what shall not, beggar all question of right. In elections of these magnitudes are all lesser ones subsumed, moral, spiritual, natural.
	>
	> — Chapter XVII
	---
	class:middle
	.topic[War]
	
	> That is no reason to blame the large birds of prey for carrying off the little lambs. And if the lambs say to each other, ‘These birds of prey are evil; and whoever is least like a bird of prey and most like its opposite, a lamb, – is good, isn’t he?’, then there is no reason to raise objections to this setting-up of an ideal beyond the fact that the birds of prey will view it somewhat derisively, and will perhaps say: ‘We don’t bear any grudge at all towards these good lambs, in fact we love them, nothing is tastier than a tender lamb.’ ... A quantum of force is just such a quantum of drive, will, action, in fact it is nothing but this driving, willing and acting, and only the seduction of language (and the fundamental errors of reason petrified within it), which construes and misconstrues all actions as conditional upon an agency, a ‘subject’, can make it appear otherwise.
	>
	> — Friedrich Nietzsche, _On the Genealogy of Morals_, Essay 1
	---
	class:middle
	.topic[War]
	
	> No assassin, called the judge. And no partisan either. There's a flawed place in the fabric of your heart. Do you think I could not know? You alone were mutinous. You alone reserved in your soul some corner of clemency for the heathen.
	>
	> — Chapter XXI
	---
	class:middle
	.topic[War]
	
	> The judge smiled. He spoke softly into the dim mud cubicle. You came forward, he said, to take part in a work. But you were a witness against yourself. You sat in judgement on your own deeds. You put your own allowances before the judgements of history and you broke with the body of which you were pledged a part and poisoned it in all its enterprise. Hear me, man. I spoke in the desert for you and you only and you turned a deaf ear to me. If war is not holy man is nothing but antic clay. Even the cretin acted in good faith according to his parts. For it was required of no man to give more than he possessed nor was any man's share compared to another's. Only each was called upon to empty out his heart into the common and one did not. Can you tell me who that one was?

	>It was you, whispered the kid. You were the one.

	>The judge watched him through the bars, he shook his head. What joins men together, he said, is not the sharing of bread but the sharing of enemies.
	>
	> — Chapter XXII
	---
	
	class: middle
	.topic[The Dance]
	
	> The judge arched his brow. Did you post witnesses? he said. To report to you on the continuing existence of those places once you'd quit them?

	> That's crazy.

	> Is it? Where is yesterday? Where is Glanton and Brown and where is the priest? He leaned closer. Where is Shelby, whom you left to the mercies of Elias in the desert, and where is Tate whom you abandoned in the mountains? Where are the ladies, ah the fair and tender ladies with whom you danced at the governor's ball when you were a hero anointed with the blood of the enemies of the republic you'd elected to defend? And where is the fiddler and where the dance?

	> I guess you can tell me.

	> I tell you this. As war becomes dishonored and its nobility called into question those honorable men who recognize the sanctity of blood will become excluded from the dance, which is the warrior's right, and thereby will the dance become a false dance and the dancers false dancers. And yet there will be one there always who is a true dancer and can you guess who that might be?
	>	
	> — Chapter XXIII (344, 331)
	
	---
	class:middle
	.topic[The Dance]
	
	> You aint nothin.

	> You speak truer than you know. But I will tell you. Only that man who has offered up himself entire to the blood of war, who has been to the floor of the pit and seen horror in the round and learned at last that it speaks to his inmost heart, only that man can dance.

	> Even a dumb animal can dance.

	> The judge set the bottle on the bar. Hear me, man, he said. There is room on the stage for one beast and one alone. All others are destined for a night that is eternal and without name. One by one they will step down into the darkness before the footlamps. Bears that dance, bears that dont.
	>
	> — Chapter XXIII
	---
	class:middle
	.topic[The Dance]
	> The truth about the world, he said, is that anything is possible. Had you not seen it all from birth and thereby bled it of its strangeness it would appear to you for what it is, a hat trick in a medicine show, a fevered dream, a trance bepopulate with chimeras having neither analogue nor precedent, an itinerant carnival, a migratory tentshow whose ultimate destination after many a pitch in many a mudded field is unspeakable and calamitous beyond reckoning.

	>The universe is no narrow thing and the order within it is not constrained by any latitude in its conception to repeat what exists in one part in any other part. Even in this world more things exist without our knowledge than with it and the order in creation which you see is that which you have put there, like a string in a maze, so that you shall not lose your way. For existence has its own order and that no man's mind can compass, that mind itself being but a fact among others.
	>
	> — Chapter XVII
	---
	class:middle
	.topic[The Dance]
	
	> Towering over them all is the judge and he is naked dancing, his small feet lively and quick and now in doubletime and bowing to the ladies, huge and pale and hairless, like an enormous infant. He never sleeps, he says. He says he’ll never die. He bows to the fiddlers and sashays backwards and throws back his head and laughs deep in his throat and he is a great favorite, the judge…He never sleeps. He says that he will never die. He dances in the light and in shadow and he is a great favorite. He never sleeps, the judge. He is dancing, dancing. He says that he will never die.
	>
	> — Chapter XXIII
	---
	
	.topic[Epilogue]
	
	> _In the dawn there is a man progressing over the plain by means of holes which he is making in the ground. He uses an implement with two handles and he chucks it into the hole and he enkindles the stone in the hole with his steel hole by hole striking the fire out of the rock which God has put there. On the plain behind him are the wanderers in search of bones and those who do not search and they move haltingly in the light like mechanisms whose movements are monitored with escapement and pallet so that they appear restrained by a prudence or reflectiveness which has no inner reality and they cross in their progress one by one that track of holes that runs to the rim of the visible ground and which seems less the pursuit of some continuance than the verification of a principle, a validation of sequence and causality as if each round and perfect hole owed its existence to the one before it there on that prairie upon which are the bones and the gatherers of bones and those who do not gather. He strikes fire in the hole and draws out his steel. Then they all move on again._
	>
	> — Epilogue
	