@use "sass:math";

@import "bourbon";
@import "remark/grid";

.remark-slide-content {
	@include grid;
}

.mrs-lloyd {
	img {
		width: 45%;
	}
}

.medusa {

	margin: {
		top: 3em;
	};

	img {
		width: 45%;

		grid-column-end: span 6;
	}
}

.small {
	p, li {
		font: {
			size: 0.9em;
		};
	}

	.topic {
		font: {
			size: math.div(1.5em, 0.9);
		};
	}
}
