@use "sass:math";

@import "bourbon";

$modular-scale-ratio: $golden;

.daisy_miller_title {
	margin: {
		top: modular-scale(3,1em);
	};
	font: {
		size: 1.5em;
	};
}

.small {
	font: {
		size: 0.95em;
	};

	.topic {
		font: {
			size: math.div(1.5em, 0.95);
		};
	}
}
