@use "sass:math";

@import "bourbon";

.mrs-lloyd {
	img {
		width: 45%;
	}
}

.medusa {

	margin: {
		top: 3em;
	};

	img {
		width: 45%;

		// @include-grid-column(6);
	}
}

.small {
	p, li {
		font: {
			size: 0.9em;
		};
	}

	.topic {
		font: {
			size: math.div(1.5em, 0.9);
		};
	}
}
