/*	Display a line whose width indicates remaining slides
 * instead of the usual X/Y count. */
#remark-progress {
  height: 4px;
  min-width: 0;
  z-index: 1000;
  bottom: 0;
  left: 0;
  top: inherit !important;
  position: absolute; }

#remark-progress-content {
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
  height: 100%;
  min-width: 0; }

.twitter_name {
  left: inherit;
  right: 20px; }
