@import url(http://fonts.googleapis.com/css?family=Droid+Serif)
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz)

body 
	font:
		family: 'Droid Serif'
		size: 20px

h1, h2, h3 
	font:
		family: 'Yanone Kaffeesatz'
	font:
		weight: 400