---
layout: reveal
transition: linear
theme: hj
title: Henry James Digital Archive
---
%section.center.title
	%h1
		Toward a
		Digital
		%br
		Henry James
	%h2
		Shawna Ross
		%br
		Andrew Pilsch
	%h3
		Thursday, March 13, 2014

%section.center
	%h2
		Henry James
		%br
		lacks a sufficient online presence

%section.resources
	%h2 James Resources Online:
	%h3.hug The Ladder (Adrian Dover)
	:markdown
		* Most James eTexts
			* 70 short stories
			* 7 novels
			* 3 plays
			* New York Edition prefaces
		* Bibliography, indices, explanation of editorial policies and programming
%section.resources
	%h2 James Resources Online:
	%h3.hug HJ Scholar's Guide to Web Sites (Richard D. Hathaway)
	:markdown
		* 12 short stories, 2 nonfic, 7 novels, 3 novellas
			* Different file formats & levels of proofreading
			* Rigorous proofreading found 600 errors on their original _Portrait of a Lady_
			* Searchable concordance hosted by Nagoya U
		* Comprehensive and generally up-to-date list of online James resources

%section.resources
	:markdown
		## James Resources Online
		
		* **Center for Henry James Studies** (Creighton)
		* **Calendar of the Letters of Henry James** (UNL)
			* Database of bibliographic record of HJ's letters 
			* Biographies of correspondents
		* **The Henry James Resource Center**
			* Biography, bibliography, list of adaptations, list of archives
		* **Cambridge _Portrait of a Lady_** (Michael Anesko)
			* Uploadable .doc files of 6 different printings
		

%section.small
	:markdown
		## James E-texts <br/> On General Sites
		
		|Resource|Texts|Notes|
		|--------|:---:|-----|
		HathiTrust|82|Scanned Images
		Gutenberg|49|Inaccurate OCR
		Making of America (Cornell)|~12|Short Stories; Difficult to Search <br/> (_The Galaxy_ & _Atlantic Monthly_)
		VIRGO (UVA)|3|2 Novellas, 1 Short Story<br/>65 by Poe, 39 by Twain, 25 by Crane
		Wright American Fiction 1851-75|1|Short Story Collection
		Small Collections |1-5| No information, apparatus, notes, <br/>options for customizing
		
/ (Eserver, Bibliomania,<br/> Gosh, Bartleby, Gaslight, Eldritch Press)

%section.problem
	:markdown
		## What's the Problem?

		> "[Placing texts online can be] a major contribution to scholarship without being a scholarly edition per se."
		>
		> — _Kenneth M. Price_

%section.problem
	:markdown
		## What's the Problem?
		> "Electronic editions without apparatus, without documentation of editorial principals, and without provision for suitable display are equally unacceptable for serious scholarly work."
		>
		> — _Michael Sperberg-McQueen_

%section
	:markdown
		## What's the Problem?
		
		&nbsp;
		
	%h2.versus Web 1.0 <br> vs.<br> Scholarship 2.0

%section.cambridge
	:markdown
		## Print & Digital Archives
	.pull-left
		:markdown
	
			**Cambridge Edition**
			
			* Definitive Edition
			* Idealized Text
			* Academic Audience
			* Longevity
	.pull-right
		:markdown
		
			**HJDA Edition**
			
			* Interoperable Edition
			* Historicized Text
			* Multiple Audiences
			* Longevity


%section.goals
	%h2 Goals

	%ul.goals
		%li Accessibility and openness
		%li.fragment Clarity and intuitiveness
		%li.fragment Power and flexibility
		%li.fragment Historicity and textuality
		%li.fragment Contemporaneity

%section.methods
	:markdown
		##Methods

		* Encoding: TEI/XML
		* Conversion: XLST, CSS
		* Output: http://www.henryjamesarchive.org

%section
	:markdown
		##Funding

		* ASU 
		    * IHR Seed Grant
		    * Working Group support (?)
		* NEH 
		    * ODH Start-Up and Implementation Grants
		    * HRCC Foundations and Implementation Grants
		    * Challenge Grant

%section
	:markdown
		##Contributions

		* Social value
			* Add to the open-access public record
			* Create online texts that are a pleasure to read
		* Literary-critical value
			* Provide reliable e-texts of Henry James's fiction
			* Rethink the born-digital scholarly edition
		* DH value
			* Construct plugins for our annotation system
			* Refine TEI annotation standards

%section.topics
	:markdown
		##Topics for Conversation

		* Feasibility (obstacles)
		* Creating a working group at ASU
		* Collaborating with the library
		* IHR Grant
			* suggestions for the application
			* suggestions for implementation
				* public event?
				* symposium?