---
layout: remark
title: Default Slide Title
---
- if !defined? markdown_source
	- markdown_source = nil

- if !markdown_source.nil?
	- markdown_source = File.open("source/#{markdown_source}").read
	- if markdown_source =~ /^---/
		- markdown_source = markdown_source.split(/---/).slice(2..-1).join("---")
:plain
	#{markdown_source}
	