---
title: Shooting at Agency — WSRL 13
---

:plain
	class: center, middle, inverse
	
	# Shooting at Agency
	
	.footnote[
	## Andrew Pilsch <br/> Arizona State University]
	
	---
	class: latour, middle
	.left-column[
	## .current[Latour]
	## Korzybski
	]
	
	.right-column[.middle[.center[.big[
	  ## Guns Don't Kill People,
	  ## People Kill People!
	]]]]
	
	---
	
	.left-column[
	]
	
	.right-column[
	
	  ### Bruno Latour, "On Technical Mediation" (1994), 31:
	
	  .blockquote[What does the gun add to the shooting? In the marerialist account, everything: an innocent citizen becomes a criminal by virtue of the gun in her hand. The gun enables of course, but also instructs, directs, even pulls the trigger&ndash;.emph[and who, with a knife in her hand, has not wanted at sometime to stab someone or something]? Each artifact has its script, its &ldquo;affordance,&rdquo; its potential to take hold of passerby and force them to play roles in its story. By contrast, the sociological version of the NRA renders the gun a neutral carrier of will that adds nothing to the action, playing the role of an electrical conductor, good and evil flowing through it effortlessly.]
	]
	
	---
	
	.left-column[
	]
	
	.right-column[
	
	  ### Bruno Latour, "On Technical Mediation" (1994), 33:
	
	  .blockquote[You are different with a gun in hand; the gun is different with you holding it. You are another subject because you hold the gun; the gun is another object because it has entered into a relationship with you. .emph[The gun is no longer the gun-in-the-armory or the gun-in-the-drawer or the gun-in-the-pocket, but the gun-in-your-hand, aimed at someone who is screaming]. What is true of the subject, of the gunman, is as true of the object, of the gun that is held. A good citizen becomes a criminal, a bad guy becomes a worse guy; a silent gun becomes a fired gun, a new gun becomes a used gun, a sporting gun becomes a weapon.]
	]
	
	---
	.left-column[
	]
	
	.right-column[.middle[.center[.big[
	  ## Guns Don't Kill People,
	  ## People Don't Kill People,
	  ## Material-Semiotic Hybrid Actants Kill People!
	]]]]
	
	---
	
	.left-column[
	]
	
	.right-column[
	  
	]
	
	