---
title: ENG 242 - Day 1
---

:plain
	class: center, middle
	
	.title-block[
	# Welcome to ENG 242!
	## American Literature From 1860
	]
	
	---
	class: center, middle
	
	.title-block[
	## Syllabus Online:
	# http://atp1.us/eng242
	]
	---
	
	.tennessee[
	.title-block[
	## Anecdote of the Jar
	### Wallace Stevens
	]
	
	I placed a jar in Tennessee, <br/>
	And round it was, upon a hill. <br/>
	It made the slovenly wilderness <br/>
	Surround that hill.

	The wilderness rose up to it, <br/>
	And sprawled around, no longer wild. <br/>
	The jar was round upon the ground <br/>
	And tall and of a port in air.

	It took dominion every where. <br/>
	The jar was gray and bare. <br/>
	It did not give of bird or bush,<br/> 
	Like nothing else in Tennessee.
	]
	---
	class: middle, center, jar
	
	![The Actual Jar In Question](http://media.liveauctiongroup.net/i/17890/17273243_1.jpg?v=8D085CCBA540110)