---
title: ENG 242 - Day 2
---

:plain
	class: center, middle

	# Agenda
	.agenda[
	
	1. Biographies
	1. Realism
	1. Activity
			
	]
	---
	class:big
	
	.topic[Biographies]
	
	## Mark Twain Background
	
	* Pen name of Samuel Langhorne Clemens
		* More Like a Stage Persona
	* Famously, Captained Steamboats on the Mississippi
	* Worked as a Humorist
		* Kind of a Forerunner of Stand-up
		* Gave Humorous Talks
		* Wrote Witty Newspaper Articles
		* Novels and Short Fiction
	
	---
	class:big
	
	.topic[Biographies]
	
	## Twain's Style
	
	* First _canonical_ American author to also be successful
	* Writing combines philosophical and social commentary, sentimentalism, sensation, and the Gothic.
	* Associated with the "Local Color" movement in Literary Realism.
	* Humor of Twain's work often hinged on variety of American dialects and cultural mores.
	
	---
	class:big

	.topic[Biographies]

	## William Dean Howells

	* Called the "Dean of American Letters"
	* Important for novels such as _The Rise of Silas Lapham_
		* More famous for editorship of _The Atlantic Monthly_ (1871-1881)
	* Advocated Literary Realism
		* **American** Literary Realism
	*  "Stroke by stroke and book by book your work was to become, for this exquisite notation of our whole democratic light and shade and give and take, in the highest degree documentary." — Henry James

	---
	class: big
	.topic[Realism]

	## Literary Realism

	* Begins in France after 1848 Revolution
	* In France, rejected Romanticism
		* Exocitism
		* Exaggerated Emotionalism
		* Heightened Drama
	* Realism wants to:
		* Depict Reality
		* Show Normal People in Believable Situations
		* Include Sordid or Unpleasant Aspects of Truth
	---
	class: painting1
	.topic[Realism]
	## Romanticism: _The Wraft of the Medusa_,  Théodore Géricault

	![The Wraft of the Medusa](http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/JEAN_LOUIS_TH%C3%89ODORE_G%C3%89RICAULT_-_La_Balsa_de_la_Medusa_%28Museo_del_Louvre%2C_1818-19%29.jpg/800px-JEAN_LOUIS_TH%C3%89ODORE_G%C3%89RICAULT_-_La_Balsa_de_la_Medusa_%28Museo_del_Louvre%2C_1818-19%29.jpg)
	---
	class: painting2
	.topic[Realism]
	## Realism: _Outskirts of Paris_, Jean-François Raffaëlli

	![Outskirts of Paris](http://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Raffaelli_Pariser_Vorstadt.JPG/771px-Raffaelli_Pariser_Vorstadt.JPG)

	---
	class: big

	.topic[Realism]

	## Literary Realism Against Sentiment

	* American Realism: Reaction Against Sentimentalism
		* "A sentimentalist is one who desires to have the luxury of an emotion without paying for it." — Oscar Wilde
		* "A response is sentimental if it is too great for the occasion." — I.A. Richards
	* Sentimental literature
		* Classic Text: _Uncle Tom's Cabin_
			* Uncle Tom -> Absolutely Virtuous
			* Slave Owners -> Heinous Villains

	---
	class: big
	.topic[Realism]
	## Realism After the Civil War

	* Realism: "Ignore Sentiment, Ignore European Models: Capture American Life"
	* After the War, Emerge America as a Cohesive, Though Diverse, Nation
	* Served to Recouncil North and South
	* Focused Attention on Industrial Advances, West Expansion

	---
	class: big
	.topic[Realism]
	## Realism's American Legacy

	* American Realism: First major **movement** in America
	* Literature Gained a Social Conscience
	* Raised the Standards of Quality for the American Novel
	* Highlighted the Uniquely American
	---
	class: big
	.topic[Activity]

	## In-Class Activity

	* Visit [JSTOR](http://www.jstor.org.ezproxy1.lib.asu.edu/)
	* Spend Some Time Browsing and Searching
		* "Mark Twain Realism"
		* "William Dean Howells Realism"
		* "1880s Realism"
	* Read the Article
	* Summarize, in 2 Paragraphs, the main points
	* Submit Your Findings to the Drop Box