---
title: ENG 242 - Day 4
---

:plain
	class: center, middle

	# Agenda
	.agenda[

	1. Old West Realism
	1. Activity
	1. Sign-Up

	]
	---
	class: big
	.topic[Old West Realism]

	## Naturalism, or Old West Realism

	* Three major regions important to realism:
		* New England
		* New Orleans
		* The West
	* Out West, Realism becomes a recognized sub-movement: **Naturalism**
	* Concerned with Nature and the struggle to survive within it.
	* Darwinism

	---
	class: center, middle
	.topic[Old West Realism]

	.title-block[
	# Town
	
	# vs

	# Nature
	]

	---
	class: center, middle

	.topic[Old West Realism]

	# Naturalism

	# ...

	# The Western
	---
	class: big
	.topic[Activity]

	## Genre & Stock Characters

	1. Go to [TV Tropes List of Western Stock Characters](http://tvtropes.org/pmwiki/pmwiki.php/Main/WesternCharacters)
	1. Working in Pairs, Figure out the Stock Character(s) Best Suited To:
		* Mr. John Oakhurst
		* The Duchess & Mother Shipton
		* Uncle Billy
		* Tom Simson
		* Piney Woods
	1. Report Back to the Group
	---
	class: center, middle

	.topic[Sign-Up]

	# Sign-Up<br/> For Group Blogs