.title h1 {
  font-size: 2.12em; }
  .title h1 .subtitle {
    font-size: 0.84906em; }

p {
  font-size: 1.1em;
  line-height: 1.5; }

h2 {
  margin-bottom: 1em; }

.yarn-conditioning img {
  height: 500px; }

.carnegie-mansion img {
  width: 95%; }

.brooklyn-bridge img {
  width: 85%; }

.moor h1 {
  color: #000; }
.moor h2 {
  font-size: 1.25em; }
